/*
* Landing marketolog
*/
.blue-style-button-market {
    max-width: 556px;
}
.list-section-2-left-market{
    position: relative;
    padding-bottom: 45px;
}
.list-section-2-left__last {
    position: absolute;
    left: 171px;
    bottom: 0;
    width: 100%;
    min-width: 600px;
}
.section-2__bottom-text {
    color: #e8e8e8;
    font-family: GothaProLig, sans-serif;
    font-size: 24px;
    line-height: 36px;
    max-width: 570px;
    margin: 65px auto 38px;
    text-align: center;
}
.section-2__bottom-text .reg-text{
    font-family: GothaProReg, sans-serif;
    display: block;
}
.section-content-padding-bottom_market {
    padding-left: 0px;
    padding-right: 25px;
}
.section-content-padding-bottom_market p,
.section-content-padding-bottom_market p.some-text-content-first{
    padding-right: 5px;
}
.content-section-3_market p.some-text-content-first{
    padding-top: 15px;
}
.content-section-3_market>div{
    min-height: 175px;
}
.content-section-3_market .number-line-3:before {
    background: url(../img/landing/line-4.png) no-repeat center;
    left: -85px;
}
.dotted-text {
    color: #394869;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    top: 95px;
    left: 50px;
}
.big-number-block.number-line-4,
.big-number-block.number-line-4 + p {
    color: #bd0851;
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
    padding-right: 0;
}
.big-number-block.number-line-4 + p {
    padding-left: 10px;
}
.content-section-3_market .number-line-4:before {
    content: '';
    position: absolute;
    background: url(../img/landing/line-5.png) no-repeat center;
    width: 585px;
    height: 175px;
    left: -616px;
    top: -155px;
}
.content-section-3_market .section-content-padding-bottom.last{
    padding-top: 37px;
}
.section-3_market {
    padding-bottom: 98px;
}
.section-3__guarantee-text {
    color: #282828;
    font-family: GothaProReg,sans-serif;
    font-size: 24px;
    line-height: 36px;
    margin: 15px 0 32px;
}
.section-3__guarantee-text_small {
    font-size: 18px;
    line-height: 30px;
    margin: 42px 0 0;
}
.section-3__guarantee-button {
    float: none;
    margin: 0 auto;
}
.section-3__quarantee {
    text-align: center;
}
.section-4_market {
    background-color: #f8f8f8;
    padding: 45px 0 99px;
}
.section-4__title {
    color: #394869;
    font-family: GothaProBol, sans-serif;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    padding-bottom: 30px;
}
.benefit-left,
.benefit-right {
    color: #282828;
    font-family: GothaProReg, sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.benefit-left{
    text-align: right;
    position: relative;
}
.benefit-left:before{
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 330px;
    background: #0494ca;
    top: 0;
    right: 0;

}
.benefit-left p{
    margin-bottom: 105px;
    position: relative;
}
.benefit-right p{
    margin-top: 73px;
    position: relative;
}
.benefit-right p.benefit-right__second-text{
    margin-top: 135px;
}
.benefit-left__first-text:before,
.benefit-left__second-text:before,
.benefit-right__first-text:before,
.benefit-right__second-text:before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #0494ca;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(4,148,202,0.5);
    -moz-box-shadow: 0px 0px 8px 5px rgba(4,148,202,0.5);
    box-shadow: 0px 0px 8px 5px rgba(4,148,202,0.5);
}
.benefit-left__first-text:before,
.benefit-left__second-text:before{
    right: -18px;
}
.benefit-right__first-text:before,
.benefit-right__second-text:before {
    left: -18px;
}
.section-4__money-reserve {
    color: #282828;
    font-family: GothaProLig, sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #0494ca;
    padding: 42px 0;
    margin-top: 24px;
}
.section-5_market {
    padding:95px 0 150px;
}
.section-5__stock-text {
    font-family: GothaProReg,sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #282828;
    text-align: center;
    margin-bottom: 40px;
}
.section-5__stock-text .bold-text{
    font-family: GothaProBol,sans-serif;
    color: #0494ca;
}
.section-11_market .partners-list li:nth-child(3) {
    padding: 0;
}
.section-11_market .partners-list li:nth-child(3) p{
    padding-top: 33px;
}
.section-11_market .partners-list li:nth-child(4) {
    padding: 37px 0 0 64px;
}
.section-11_market .partners-list li:nth-child(5) {
    padding: 37px 0 0 355px;
}
/*
* Landing marketolog
*/

@media (max-width: 1199px) {
    .list-section-2-left__last {
        left: 50px;
    }
    .content-section-3_market .number-line-3:before {
        width: 490px;
        left: -5px;
        background-size: contain;
    }
    .dotted-text {
        top: 65px;
        left: 30px;
    }
    .content-section-3_market .number-line-4:before {
        width: 485px;
        left: -498px;
        top: -146px;
        background-size: contain;
    }
    .content-section-3_market .section-content-padding-bottom.last {
        padding-top: 0;
    }
    .content-section-3_market .section-content-padding-bottom.last p{
        margin-top: -20px;
    }
    .section-content-padding-bottom_market {
        padding-right: 0;
    }
}
@media (max-width: 991px) {
    .list-section-2-left__last {
        left: 0;
    }
    .dotted-text {
        font-size: 11px;
        line-height: 14px;
    }
    .section-content-padding-bottom_market .some-text-content-first {
        font-size: 12px;
        line-height: 17px;
        padding-top: 0;
    }
    .content-section-3_market>div {
        min-height: 140px;
    }
    .content-section-3_market .section-content-padding-bottom.last p {
         margin-top: 0;
    }
    .content-section-3_market .number-line-4:before {
        height: 131px;
        width: 355px;
        left: -393px;
        top: -113px;
        background-size: 100% 100%;
    }
    .content-section-3_market .number-line-3:before {
        width: 380px;
    }
    .section-3__guarantee-text_small {
        font-size: 16px;
    }

    .benefit-left, .benefit-right {
        font-size: 14px;
    }
    .section-4__money-reserve {
        color: #282828;
        font-family: GothaProLig, sans-serif;
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        border: 1px solid #0494ca;
        padding: 42px 0;
        margin-top: 24px;
    }
    .section-11_market .partners-list li:nth-child(4) {
        padding: 37px 0 0 0;
    }
    .section-11_market .partners-list li:nth-child(5) {
        padding: 37px 0 0 0;
    }
}
@media (max-width: 767px) {
    .list-section-2-left-market {
        position: relative;
        padding-bottom: 0;
    }
    .section-2__bottom-text {
        font-size: 18px;
        line-height: 30px;
    }
    .section_market button {
        font-size: 15px;
    }
    .dotted-text {
        position: static;
        text-align: left;
        margin: 15px 0;
    }
    .dotted-text br{
        display: none;
    }
    .content-section-3_market>div {
        min-height: auto;
    }
    .section-3__guarantee-text {
        font-size: 20px;
        line-height: 30px;
    }
    .section-3__guarantee-text {
        font-size: 16px;
        line-height: 30px;
    }
    .benefit-left {
        text-align: left;
    }
    .benefit-left:before {
        display: none;
    }
    .benefit-left p {
        margin-bottom: 15px;
    }
    .benefit-right p {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .benefit-left br,
    .benefit-right br {
        display: none;
    }
    .benefit-right p.benefit-right__second-text {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .benefit-left__first-text:before, .benefit-left__second-text:before, .benefit-right__first-text:before, .benefit-right__second-text:before {
        left: -18px;
        right: auto;
        top: 6px;
    }
    .section-4__money-reserve {
        font-size: 16px;
        padding: 20px 10px;
    }
    .section-5__stock-text {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .section-5_market {
        padding: 95px 0;
    }
    .section-content-padding-bottom_market .some-text-content-first {
        font-size: 14px;
    }
    .big-number-block.number-line-4 + p {
        padding-left: 0;
    }
    .content-section-3_market .section-content-padding-bottom.last {
        padding-top: 37px;
    }
    .section-3_market .section-content-padding-bottom {
        padding-left: 0;
        padding-right: 0;
    }
    .section-3__quarantee {
        padding: 0;
    }
    .list-section-2-left__last {
        left: 0;
        position: static;
        min-width: 100px;
    }
    .list-wrap {
        padding: 0;
    }
}
@media (max-width: 650px) {
    .list-wrap {
        width: 100%;
        /*padding: 0 15px;*/
    }
    .section-2__bottom-text {
        font-size: 18px;
        max-width: 570px;
        margin: 30px auto 20px;
        text-align: center;
    }
    .section-3__guarantee-text br{
        display: none;
    }
    .section-5__stock-text {
        font-size: 16px;
        margin-bottom: 20px;
    }
}
@media (max-width: 450px) {

}
@media (max-width: 400px) {

}
@media (max-width: 350px) {

}