
/*LANDING PAGE*/

.landing-logo h1 {
    font-family: GothaProBol;
    color: #282828;
    font-size: 18px;
}

.landing-logo h1>a:hover {
    text-decoration: underline;
}

.landing-login a {
    color: #394869;
    font-family: GothaProMed;
    font-size: 14px;
    outline: none;
}

.landing-login a:hover {
    text-decoration: underline;
}

.landing-login {
    text-align: right;
}

.landing-login img {
    vertical-align: middle;
    margin-right: 6px;
}

.landing-header {
    padding: 19px 0 14px 0;
    border-bottom: 1px solid #e8e8e8;
}

.section-1-head-text {
    color: #282828;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-family: GothaProReg;
}

.big-blue-text {
    color: #0494ca;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    font-family: GothaProBol;
}

.section_1 {
    padding-top: 30px;
    padding-bottom: 96px;
}

.big-blue-text-first-text {
    padding-top: 8px;
}

.this-line-position {
    margin-top: 12px;
}

.line-big-blue-text {
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(4,149,202,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(4,149,202,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(4,149,202,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(4,149,202,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(4,149,202,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(4,149,202,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.block-section-1-text-bottom {
    font-family: GothaProReg;
    font-size: 18px;
    line-height: 30px;
    padding: 36px 210px 20px;
    text-align: center;
}

.strong-text-style {
    font-family: GothaProMed;
    display: block;
}

.all-blue-style-button {
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: block;
    font-family: GothaProMed;
    height: 60px;
    background-color: #0494ca;
    border: 1px solid #0494ca;
    max-width: 420px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: color, background .3s;
}

.all-blue-style-button:hover {
    color: #0494ca;
    background: transparent;
}

.section-1-button-position {
    margin-top: 30px;
}

.section_2 {
    background-color: #394869;
    padding: 76px 0 144px 0;
}

.section-2-title {
    font-size: 24px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    font-family: GothaProBol;
}

.all-style-section-2-list li {
    color: #e8e8e8;
    font-size: 18px;
    line-height: 48px;
    font-family: GothaProReg;
}

.block-glyph-all {
    background-color: #0494ca;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    top: -2px;
    margin-right: 2px;
}

.block-glyph-all span {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 12px;
    width: 12px;
    color: #394869;
}

.all-style-section-2-list {
    padding-top: 20px;
}

.list-section-2-left {
    padding-left: 171px;
}

.mini-text-list-sect-2 {
    font-size: 14px;
}

.list-section-2-right {
    padding-left: 4px;
}

.all-white-button-style {
    color: #e8e8e8;
    font-size: 18px;
    text-align: center;
    font-family: GothaProMed;
    height: 60px;
    border: 1px solid white;
    width: 100%;
    max-width: 420px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: color, background .3s;
}

.all-white-button-style:hover {
    background: #fff;
    color: #394869;
}

.buton-section-2-position {
    margin-top: 30px;
}

.title-section-3 {
    height: 100px;
    background-color: #f8f8f8;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -31px;
    padding-top: 35px;
}

.title-section-3 h3 {
    color: #394869;
    font-size: 24px;
    font-family: GothaProBol;
    text-align: center;
    line-height: 30px;
}

.big-number-block {
    color: #394869;
    font-size: 36px;
    font-family: GothaProLig;
    position: relative;
}

.number-line-1:before {
    content: '';
    position: absolute;
    background: url(../img/landing/line-1.png) no-repeat center;
    width: 100%;
    height: 15px;
    left: 31px;
    top: 9px;
}

.section-content-padding {
    padding-top: 48px;
    padding-left: 13px;
}

.section-content-padding-bottom {
    padding-top: 42px;
    padding-left: 13px;
}

.number-line-2:before {
    content: '';
    position: absolute;
    background: url(../img/landing/line-2.png) no-repeat center;
    width: 100%;
    height: 205px;
    left: 31px;
}

.number-line-3:before {
    content: '';
    position: absolute;
    background: url(../img/landing/line-3.png) no-repeat center;
    width: 100%;
    height: 33px;
    left: -100px;
}

.some-text-content-first {
    color: #282828;
    font-size: 18px;
    line-height: 24px;
    font-family: GothaProReg;
    padding-top: 18px;
}

.text-right-bottom-position {
    text-align: right;
    padding-right: 65px;
}

.section-content-padding-bottom .some-text-content-first {
    padding-top: 35px;
    padding-right: 65px;
}

.section_3 {
    padding-bottom: 126px;
}

.title-section-4 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-family: GothaProBol;

}

.section_4 {
    background-color: #394869;
    padding: 87px 0 96px;
}

.section_5 {
    background-color: #f8f8f8;
}

.some-person-text {
    color: #282828;
    font-size: 24px;
    padding-left: 23px;
    font-family: GothaProReg;
    line-height: 24px;
}

.title-problem {
    color: #bd0851;
    font-family: GothaProLig;
    font-size: 55px;
    margin-left: -6px;
}

.some-text-problem {
    color: #282828;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    font-family: GothaProReg;
    padding-left: 60px;
}

.section_6 {
    border-bottom: 1px solid #e8e8e8;
    padding: 23px 0 24px 0;
}

.title-decision {
    text-align: right;
    font-family: GothaProLig;
    font-size: 55px;
    color: #0494ca;
    margin-right: -5px;
}

.some-left-decision-text {
    font-size: 18px;
    line-height: 24px;
    color: #282828;
    font-family: GothaProReg;
}

.decision-list {
    font-size: 18px;
    line-height: 24px;
    color: #394869;
    font-family: GothaProReg;
}

.section_7 {
    padding: 24px 0 23px 0;
    border-bottom: 1px solid #e8e8e8;
}

.all-blue-style-button-transparent {
    color: #0494ca;
    font-size: 18px;
    font-family: GothaProMed;
    background: transparent;
    border: 1px solid #0494ca;
    height: 60px;
    width: 100%;
    max-width: 420px;
    display: block;
    float: right;
    transition: color, background .3s;
}

.all-blue-style-button-transparent:hover {
    color: #fff;
    background: #0494ca;
}

.style-position-button-section-7 {
    margin-top: 90px;
}

.total-title {
    color: #282828;
    font-size: 55px;
    margin-left: -6px;
    font-family: GothaProLig;
}

.total-some-text {
    color: #282828;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    font-family: GothaProReg;
}

.person-block-section-5 img {
    display: inline-block;
}

.section_8 {
    padding: 24px 0 17px 0;
    background-color: #f8f8f8;
}

.prev-arrow-slider {
    position: absolute;
    left: 15px;
    width: 195px;
    height: 40px;
    border: 1px solid #394869;
    transform: rotate(180deg);
    transition: all .3s;
    background: url("../img/landing/shape-2.png") no-repeat center ;
}

.next-arrow-slider {
    position: absolute;
    right: 15px;
    width: 195px;
    height: 40px;
    border: 1px solid #394869;
    transition: all .3s;
    background: url("../img/landing/shape-2.png") no-repeat center;
}

/*.prev-arrow-slider:hover {*/
    /*background: url("../img/landing/shape-2.png") no-repeat center #0494ca;*/
/*}*/

/*.next-arrow-slider:hover {*/
    /*background: url("../img/landing/shape-2.png") no-repeat center #0494ca;*/
/*}*/

.prev-arrow-slider:hover,
.next-arrow-slider:hover {
    /*-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);*/
    /*-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);*/
    /*box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);*/
    cursor: pointer;

}

.block-nav-slider {
    position: relative;
    height: 99px;
    padding-top: 30px;
}

.section-nav-slider {
    background-color: #f8f8f8;
}

.count-slide-block {
    position: absolute;
    width: 85px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 3px;
}

.number-count-style {
    position: relative;
    color: #b2b2b2;
    font-family: GothaProLig;
    font-size: 24px;
}

.before-slash {
    margin-right: 26px;
}

.before-slash:before {
    content: '/';
    color: #b2b2b2;
    font-family: GothaProLig;
    font-size: 24px;
    position: absolute;
    right: -23px;
    top: 5px;
}

.number-count-style.active {
    color: #0494ca;
    font-size: 36px;
}

.section_9 {
    padding: 95px 0 30px;
}

.title-info {
    font-family: GothaProLig;
    color: #394869;
    font-size: 36px;
    text-align: center;
}

.title-info-block {
    height: 150px;
    border: 1px solid #394869;
    margin-top: 50px;
    padding-top: 55px;
    position: relative;
}

.title-info-block:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 50px;
    bottom: -50px;
    margin: auto;
    left: 0;
    right: -179px;
    background: rgba(57,72,105,1);
    background: -moz-linear-gradient(top, rgba(57,72,105,1) 0%, rgba(57,72,105,1) 7%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 71%, rgba(232,232,232,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(57,72,105,1)), color-stop(7%, rgba(57,72,105,1)), color-stop(53%, rgba(232,232,232,1)), color-stop(71%, rgba(232,232,232,1)), color-stop(100%, rgba(232,232,232,1)));
    background: -webkit-linear-gradient(top, rgba(57,72,105,1) 0%, rgba(57,72,105,1) 7%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 71%, rgba(232,232,232,1) 100%);
    background: -o-linear-gradient(top, rgba(57,72,105,1) 0%, rgba(57,72,105,1) 7%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 71%, rgba(232,232,232,1) 100%);
    background: -ms-linear-gradient(top, rgba(57,72,105,1) 0%, rgba(57,72,105,1) 7%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 71%, rgba(232,232,232,1) 100%);
    background: linear-gradient(to bottom, rgba(57,72,105,1) 0%, rgba(57,72,105,1) 7%, rgba(232,232,232,1) 53%, rgba(232,232,232,1) 71%, rgba(232,232,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#394869', endColorstr='#e8e8e8', GradientType=0 );
}

.block-tuposty-dizaynera {
    position: relative;
    height: 500px;
}

.all-style-block-absolute {
    border: 1px solid #e8e8e8;
    text-align: center;
}

.some-text-absolute {
    color: #282828;
    font-size: 18px;
    font-family: GothaProReg;
    line-height: 24px;
}

.block-absolute-1 {
    position: absolute;
    top: 50px;
    left: 73px;
    padding: 42px 34px 37px 34px;
}

.block-absolute-2 {
    position: absolute;
    padding: 56px 49px 52px 50px;
    top: 103px;
    left: 272px;
}

.block-absolute-3 {
    position: absolute;
    top: 50px;
    left: 532px;
    padding: 28px 38px 27px;
}

.block-absolute-4 {
    position: absolute;
    top: 103px;
    right: 15px;
    padding: 53px 66px 53px 66px;
}

.block-absolute-5 {
    position: absolute;
    top: 200px;
    left: 14px;
    padding: 48px 46px 46px 46px;
}

.block-absolute-6 {
    position: absolute;
    top: 198px;
    left: 532px;
    padding: 41px 35px 41px 35px;
}

.block-absolute-7 {
    position: absolute;
    top: 324px;
    left: 253px;
    padding: 45px;
}

.bottom-diz-text {
    font-size: 18px;
    line-height: 24px;
    font-family: GothaProMed;
    color: #282828;
    padding-top: 22px;
    margin-left: -2px;
}

.pink-text {
    font-family: GothaProBol;
    color: #bd0851;
}

.bottom-diz-text p {
    white-space: nowrap;
}

.section-10-button-position {
    margin-top: 8px;
    margin-right: -2px;
}

.section_10 {
    padding-bottom: 93px;
}

.section_11 {
    background-color: #394869;
}

.title-parners {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-family: GothaProBol;
}

.title-dop-partners {
    font-size: 36px;
    font-family: GothaProLig;
    text-align: center;
    color: #fff;
    line-height: 36px;
    margin-top: 43px;
}

.partners-list {
    padding-top: 42px;
}

.partners-list li:nth-child(1) {
    padding-left: 12px;
}

.partners-list li:nth-child(2) {
    padding: 39px 0 0 210px;
}

.partners-list li:nth-child(3) {
    padding: 37px 0 0 82px;
}

.partners-list li:nth-child(4) {
    padding: 40px 0 0 372px;
}

.list-number-style {
    opacity: 0.5;
    color: white;
    font-size: 72px;
    font-family: GothaProBla;
    width: 120px;
}

.dop-text-list-title {
    line-height: 24px;
    font-size: 16px;
    font-family: GothaProBol;
    color: #fff;
}

.some-text-list {
    font-size: 18px;
    font-family: GothaProLig;
    color: #fff;
    line-height: 24px;
}

.dop-text-block {
    width: calc(100% - 130px);
    margin-left: 10px;
}

.section_11 {
    padding: 88px 0 0 0;
    padding: 88px 0 144px 0;
}

.bottom-text-section-11 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-family: GothaProLig;
    color: #fff;
    padding-top: 87px;
    padding-bottom: 8px;
}

.block-design {
    text-align: right;
    color: #b2b2b2;
    font-size: 14px;
    font-family: GothaProMed;
    padding-top: 2px;
}

.footer-logo {
    text-align: left;
    color: #b2b2b2;
    font-size: 18px;
    font-family: GothaProBol;
    padding-left: 12px;
}

.footer-social-block {
    color: #b2b2b2;
    text-align: center;
    margin-top: -3px;
}

.footer-all {
    padding: 30px 0 25px 0;
}

.footer-logo a:hover,
.footer-social-block a:hover,
.footer-social-block a>i:hover{
    text-decoration: underline;
    cursor: pointer;
}

.facebook-block {
    font-size: 16px;
    margin-left: 0px;
}

.vk-block {
    font-size: 20px;
    margin-left: 13px;
}

.title-modal-block-all {
    color: #282828;
    font-size: 14px;
    font-family: GothaProMed;
    margin-bottom: 6px;
    margin-top: 19px;
}

.checkboxStyle {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}
.checkboxStyle + label {
    cursor: pointer;
    margin-bottom: -3px;
    margin-right: 12px;
    display: inline-block;
}
.checkboxStyle:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkboxStyle:not(checked) + label {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: white;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.checkboxStyle:not(checked) + label:after {
    content: url(../img/index/checkedImg2.png);
    left: 0;
    right: 0;
    bottom: 0;
    width: 7px;
    height: 6px;
    opacity: 0;
    transition: all .3s;
    position: absolute;
    margin: auto;
    top: 0;
    line-height: 0;
}

.main-hot-style .checkboxStyle:not(checked) + label:after {
    top: -1px;
}
.checkboxStyle:checked + label {
    border: 1px solid #394869;
}

.checkboxStyle:checked + label:after {
    opacity: 1;
    background:  no-repeat center;
}

.not-checked-style.checkboxStyle:checked + label {
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
}

.not-checked-style.checkboxStyle + label {
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    cursor: no-drop;
}

.not-checked-style.checkboxStyle:not(checked) + label:after {
    content: '';
}

.left-block-chekeds-modal,
.right-block-chekeds-modal {
    float: left;
    padding: 25px 0;
    border: 1px solid #ebebeb;
    width: 50%;
    text-align: center;
}

#sigin-account .modal-content,
#login-account .modal-content {
    border-radius: 0;
    width: 556px;
    margin-left: auto;
    margin-right: auto;
}

.modal-sign-all-style {
    height: 35px;
    border: 1px solid #e8e8e8;
    background: transparent;
    width: 100%;
}

#sigin-account .gray-text,
#login-account .gray-text {
    color: #b2b2b2;
}

.prava-this-sign {
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
    font-family: GothaProReg;
    padding: 25px 0;
}

.prava-this-sign a {
    color: #282828;
    font-family: GothaProMed;
}

.prava-this-sign a:hover {
    text-decoration: underline;
}

.block-modal-captcha {
    height: 35px;
    background-color: whitesmoke;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.modal-sign-button {
    font-size: 14px;
    font-family: GothaProBol;
    color: #fff;
    width: 100%;
    height: 50px;
    background-color: #394869;
    border: none;
    transition: all .3s;
}

.modal-sign-button:hover {
    background: #0494ca;
}

#sigin-account .modal-body,
#login-account .modal-body {
    padding: 11px 30px 30px 27px;
}

#sigin-account .exceptionText {
    font-family: GothaProMed;
    color: #b2b2b2;
}

#sigin-account .exceptionText.active {
    color: #394869;
}

.left-block-chekeds-modal {
    border-right: none;
}

.some-text-capcha {
    color: white;
    font-size: 57px;
    font-family: GothaProBla;
    line-height: 46px;
}

#login-account .modal-sign-button {
    margin-top: 30px;
}

.bottom-modal-sign-link {

}

.block-link-sign {
    padding-top: 18px;
    font-family: GothaProMed;
}

.bottom-modal-sign-link-left {
    float: left;
}

.bottom-modal-sign-link-right {
    float: right;
}

.bottom-modal-sign-link-right:hover,
.bottom-modal-sign-link-left:hover {
    text-decoration: underline;
}


/*CAP*/

.cap-title {
    font-family: GothaProBol;
    color: #0494ca;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    padding-top: 44px;
    position: relative;
    z-index: 222;
}
.cap-letter {
    color: #b2b2b2;
    font-size: 36px;
    font-family: GothaProReg;
    line-height: 92px;
}
.cap-content-all {
    padding-bottom: 80px;
}
.block-cap-letter-circle-all {
    position: relative;
    height: 240px;
    text-align: center;
    width: 586px;
    margin: -28px auto 48px;
}
.block-cap-letter-circle-one {
    position: absolute;
    left: 0;
    right: 0;
    width: 240px;
    height: 240px;
    opacity: 0.3;
    border: 2px solid #e8e8e8;
    border-radius: 50%;
    margin: auto;
    z-index: 1;
}
.block-cap-letter-circle-two {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 167px;
    height: 167px;
    opacity: 0.5;
    border: 2px solid #e8e8e8;
    border-radius: 50%;
    margin: auto;
    z-index: 2;
}
.block-cap-letter-circle-three {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 92px;
    height: 92px;
    opacity: 1;
    border: 2px solid #e8e8e8;
    border-radius: 50%;
    margin: auto;
    z-index: 3;
}
.block-cap-letter-circle-three:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -249px;
    width: 249px;
    height: 2px;
    background-color: #e8e8e8;
}
.block-cap-letter-circle-three:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -249px;
    width: 249px;
    height: 2px;
    background-color: #e8e8e8;
}
.block-cap-letter-circle-all:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 2px;
    height: 70%;
    background: rgba(232,232,232,1);
    background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,232,232,1)), color-stop(100%, rgba(4,149,202,1)));
    background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    background: -o-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    background: linear-gradient(to bottom, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#0495ca', GradientType=0 );
}
.block-cap-letter-circle-all:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 2px;
    height: 70%;
    background: rgba(232,232,232,1);
    background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,232,232,1)), color-stop(100%, rgba(4,149,202,1)));
    background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    background: -o-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    background: linear-gradient(to bottom, rgba(232,232,232,1) 0%, rgba(4,149,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#0495ca', GradientType=0 );
}

.cap-position-button {
    max-width: 365px;
    height: 70px;
}

.cap-position-button:active,
.cap-position-button:visited {
    color: #fff;
}

.cap-position-button:hover {
    color: #0494ca;
}

.left-button-block-cap p {
    font-size: 36px;
    color: #282828;
    font-family: GothaProLig;
    position: absolute;
    top: -141px;
    left: 66px;
}

.left-button-block-cap p span.blue-text-cap {
    display: block;
    color: #0494ca;
    font-family: GothaProMed;
    margin-top: 7px;
    text-align: right;
    position: relative;
}

.left-button-block-cap p span.blue-text-cap:before {
    content: '';
    position: absolute;
    bottom: -24px;
    right: 2px;
    background: url(../img/cap/left-arr-cap.png) no-repeat center;
    width: 91px;
    height: 12px;
}

.right-button-block-cap p {
    font-size: 36px;
    color: #282828;
    font-family: GothaProLig;
    position: absolute;
    top: -141px;
    right: 51px;
}

.right-button-block-cap p span.blue-text-cap {
    display: block;
    color: #0494ca;
    font-family: GothaProMed;
    margin-top: 7px;
    text-align: left;
}

.right-button-block-cap p span.blue-text-cap:before {
    content: '';
    position: absolute;
    bottom: -24px;
    left: -3px;
    background: url(../img/cap/right-arr-cap.png) no-repeat center;
    width: 91px;
    height: 12px;
}

.cap-position-button {
    text-decoration: none !important;
    padding-top: 23px;
}








/*IZMENENIA*/

.section-nav-slider {
    position: relative;
}
.block-nav-slider {
    position: initial;
    height: auto;
    padding-top: 0;
}
.prev-arrow-slider,
.next-arrow-slider {
    top: 50%;
    width: 85px;
}
.section-nav-slider {
    background: #fff;
}
.prev-arrow-slider {
    position: absolute;
    left: 15px;
    width: 55px;
    height: 60px;
    border: none;
    transform: rotate(0deg);
    transition: all .3s;
    background: url(../img/landing/slider-arr-all-new.png) no-repeat center -64px;
    text-align: center;
    opacity: 0;
}
.next-arrow-slider {
    width: 55px;
    height: 60px;
    border: none;
    transform: rotate(0deg);
    transition: all .3s;
    background: url(../img/landing/slider-arr-all-new.png) no-repeat center 3px;
    opacity: 0;
}
.section-nav-slider:hover .prev-arrow-slider {
    opacity: 1;
}
.section-nav-slider:hover .next-arrow-slider {
    opacity: 1;
}
