html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
}

textarea {
    resize: vertical;
    outline: none !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
label {
    display: inline;
    font-weight: 400;
    font-size: 0;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="text"]:focus { outline: none; }
input[type="text"] {
    padding-left: 10px;
}
button {
    outline: none !important;
}
@font-face {
    font-family: GothaProBla;
    src: url('../fonts/GothaProBla.eot');
    src: url('../fonts/GothaProBla.otf');
    src: local('☺'), url('../fonts/GothaProBla.woff') format('woff'), url('../fonts/GothaProBla.ttf') format('truetype'), url('../fonts/GothaProBla.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProBlaIta;
    src: url('../fonts/GothaProBlaIta.eot');
    src: url('../fonts/GothaProBlaIta.otf');
    src: local('☺'), url('../fonts/GothaProBlaIta.woff') format('woff'), url('../fonts/GothaProBlaIta.ttf') format('truetype'), url('../fonts/GothaProBlaIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProBol;
    src: url('../fonts/GothaProBol.eot');
    src: url('../fonts/GothaProBol.otf');
    src: local('☺'), url('../fonts/GothaProBol.woff') format('woff'), url('../fonts/GothaProBol.ttf') format('truetype'), url('../fonts/GothaProBol.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProBolIta;
    src: url('../fonts/GothaProBolIta.eot');
    src: url('../fonts/GothaProBolIta.otf');
    src: local('☺'), url('../fonts/GothaProBolIta.woff') format('woff'), url('../fonts/GothaProBolIta.ttf') format('truetype'), url('../fonts/GothaProBolIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProIta;
    src: url('../fonts/GothaProIta.eot');
    src: url('../fonts/GothaProIta.otf');
    src: local('☺'), url('../fonts/GothaProIta.woff') format('woff'), url('../fonts/GothaProIta.ttf') format('truetype'), url('../fonts/GothaProIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProLig;
    src: url('../fonts/GothaProLig.eot');
    src: url('../fonts/GothaProLig.otf');
    src: local('☺'), url('../fonts/GothaProLig.woff') format('woff'), url('../fonts/GothaProLig.ttf') format('truetype'), url('../fonts/GothaProLig.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProLigIta;
    src: url('../fonts/GothaProLigIta.eot');
    src: url('../fonts/GothaProLigIta.otf');
    src: local('☺'), url('../fonts/GothaProLigIta.woff') format('woff'), url('../fonts/GothaProLigIta.ttf') format('truetype'), url('../fonts/GothaProLigIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProMed;
    src: url('../fonts/GothaProMed.eot');
    src: url('../fonts/GothaProMed.otf');
    src: local('☺'), url('../fonts/GothaProMed.woff') format('woff'), url('../fonts/GothaProMed.ttf') format('truetype'), url('../fonts/GothaProMed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProMedIta;
    src: url('../fonts/GothaProMedIta.eot');
    src: url('../fonts/GothaProMedIta.otf');
    src: local('☺'), url('../fonts/GothaProMedIta.woff') format('woff'), url('../fonts/GothaProMedIta.ttf') format('truetype'), url('../fonts/GothaProMedIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProNarBol;
    src: url('../fonts/GothaProNarBol.eot');
    src: url('../fonts/GothaProNarBol.otf');
    src: local('☺'), url('../fonts/GothaProNarBol.woff') format('woff'), url('../fonts/GothaProNarBol.ttf') format('truetype'), url('../fonts/GothaProNarBol.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: GothaProNarMed;
    src: url('../fonts/GothaProNarMed.eot');
    src: url('../fonts/GothaProNarMed.otf');
    src: local('☺'), url('../fonts/GothaProNarMed.woff') format('woff'), url('../fonts/GothaProNarMed.ttf') format('truetype'), url('../fonts/GothaProNarMed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProReg;
    src: url('../fonts/GothaProReg.eot');
    src: url('../fonts/GothaProReg.otf');
    src: local('☺'), url('../fonts/GothaProReg.woff') format('woff'), url('../fonts/GothaProReg.ttf') format('truetype'), url('../fonts/GothaProReg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


input,textarea {
    font-family: GothaProReg ;
}
/*@font-face {*/
    /*font-family: GothaProBla;*/
    /*src: local('Raleway Black'), local('Raleway-Black'),*/
    /*url('/fonts/raleway/ralewayblack.woff2') format('woff2'),*/
    /*url('/fonts/raleway/ralewayblack.woff') format('woff'),*/
    /*url('/fonts/raleway/ralewayblack.ttf') format('truetype');*/
    /*font-weight: 900;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProBlaIta;*/
    /*src: url('/fonts/GothaProBlaIta.eot');*/
    /*src: url('/fonts/GothaProBlaIta.otf');*/
    /*src: local('☺'), url('/fonts/GothaProBlaIta.woff') format('woff'), url('/fonts/GothaProBlaIta.ttf') format('truetype'), url('/fonts/GothaProBlaIta.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProBol;*/
    /*src: local('Raleway Bold'), local('Raleway-Bold'),*/
    /*url('/fonts/raleway/ralewaybold.woff2') format('woff2'),*/
    /*url('/fonts/raleway/ralewaybold.woff') format('woff'),*/
    /*url('/fonts/raleway/ralewaybold.ttf') format('truetype');*/
    /*font-weight: 700;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProBolIta;*/
    /*src: url('/fonts/GothaProBolIta.eot');*/
    /*src: url('/fonts/GothaProBolIta.otf');*/
    /*src: local('☺'), url('/fonts/GothaProBolIta.woff') format('woff'), url('/fonts/GothaProBolIta.ttf') format('truetype'), url('/fonts/GothaProBolIta.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProIta;*/
    /*src: url('/fonts/GothaProIta.eot');*/
    /*src: url('/fonts/GothaProIta.otf');*/
    /*src: local('☺'), url('/fonts/GothaProIta.woff') format('woff'), url('/fonts/GothaProIta.ttf') format('truetype'), url('/fonts/GothaProIta.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProLig;*/
    /*src: url('/fonts/GothaProLig.eot');*/
    /*src: url('/fonts/GothaProLig.otf');*/
    /*src: local('☺'), url('/fonts/GothaProLig.woff') format('woff'), url('/fonts/GothaProLig.ttf') format('truetype'), url('/fonts/GothaProLig.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProLigIta;*/
    /*src: url('/fonts/GothaProLigIta.eot');*/
    /*src: url('/fonts/GothaProLigIta.otf');*/
    /*src: local('☺'), url('/fonts/GothaProLigIta.woff') format('woff'), url('/fonts/GothaProLigIta.ttf') format('truetype'), url('/fonts/GothaProLigIta.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProMed;*/
    /*src: local('Raleway Medium'), local('Raleway-Medium'),*/
    /*url('/fonts/raleway/ralewaymedium.woff2') format('woff2'),*/
    /*url('/fonts/raleway/ralewaymedium.woff') format('woff'),*/
    /*url('/fonts/raleway/ralewaymedium.ttf') format('truetype');*/
    /*font-weight: 500;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProMedIta;*/
    /*src: url('/fonts/GothaProMedIta.eot');*/
    /*src: url('/fonts/GothaProMedIta.otf');*/
    /*src: local('☺'), url('/fonts/GothaProMedIta.woff') format('woff'), url('/fonts/GothaProMedIta.ttf') format('truetype'), url('/fonts/GothaProMedIta.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProNarBol;*/
    /*src: url('/fonts/GothaProNarBol.eot');*/
    /*src: url('/fonts/GothaProNarBol.otf');*/
    /*src: local('☺'), url('/fonts/GothaProNarBol.woff') format('woff'), url('/fonts/GothaProNarBol.ttf') format('truetype'), url('/fonts/GothaProNarBol.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/


/*@font-face {*/
    /*font-family: GothaProNarMed;*/
    /*src: url('/fonts/GothaProNarMed.eot');*/
    /*src: url('/fonts/GothaProNarMed.otf');*/
    /*src: local('☺'), url('/fonts/GothaProNarMed.woff') format('woff'), url('fonts/GothaProNarMed.ttf') format('truetype'), url('/fonts/GothaProNarMed.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: GothaProReg;*/
    /*src: local('Raleway Regular'), local('Raleway-Regular'),*/
    /*url('/fonts/raleway/ralewayregular.woff2') format('woff2'),*/
    /*url('/fonts/raleway/ralewayregular.woff') format('woff'),*/
    /*url('/fonts/raleway/ralewayregular.ttf') format('truetype');*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
/*}*/
































/**********VENDOR**********/
.div-inline {
    display: inline-block;
    vertical-align: top;
}
.vertical-middle-all {
    vertical-align: middle;
}
ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.vendorFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.paddingNone {
    padding: 0;
}

.textAlignRight {
    text-align: right;
}

.vertAlignSub {
    vertical-align: sub;
}

.vertAlignBaseline {
    vertical-align: baseline;
}

.vertAlignSuper {
    vertical-align: super;
}

.non-border {
    border: none;
}
.paddingRight {
 padding: 0 20px 0 0;
}
.menu-closed .paddingRight {
    padding: 0 5px 0 0;
}
.menu-closed .paddingRight {
    padding: 0 5px 0 0;
}
.menu-closed .listProjectAll.paddingRight {
    padding: 0;
}

.overview {
    width: 100%;
}

.gritter_success .gritter-item {
    background-color: #3f4e6e !important;
    background-image: none;
}

.gritter_error .gritter-item {
    background-color: #bd0851 !important;
    background-image: none;
}

.input-err-valid {
    border: 1px solid #bd0851 !important;
}