@media (max-width: 1199px) {
    .block-section-1-text-bottom {
        padding: 36px 170px 20px;
    }
    .section_1 {
        padding-bottom: 36px;
    }
    .list-section-2-left {
        padding-left: 50px;
    }
    .section_2 {
        padding: 76px 0 104px 0;
    }
    .number-line-1:before {
        width: 400px;
        left: 55px;
        background-size: contain;
    }
    .number-line-2:before {
        width: 400px;
        height: 175px;
        left: 55px;
        background-size: contain;
    }
    .number-line-3:before {
        width: 400px;
        left: -74px;
        background-size: contain;
    }
    .container-fluid {
        padding: 0;
    }
    .section-content-padding-bottom {
        padding-top: 12px;
    }
    .some-text-content-first {
        font-size: 15px;
    }
    .title-problem,
    .title-decision,
    .total-title {
        font-size: 45px;
    }
    .some-text-problem {
        font-size: 16px;
    }
    .some-left-decision-text {
        font-size: 16px;
    }
    .decision-list {
        font-size: 16px;
    }
    .total-some-text {
        font-size: 16px;
    }
    .block-absolute-1 {
        left: 15px;
    }
    .block-absolute-2 {
        top: 135px;
        left: 212px;
    }
    .block-absolute-4 {
        top: 135px;
        right: 15px;
        padding: 53px 66px 53px 66px;
    }
    .block-absolute-6 {
        top: 272px;
        left: 532px;
    }
    .block-absolute-5 {
        top: 250px;
    }
    .block-absolute-7 {
        top: 364px;
    }
    .block-tuposty-dizaynera {
        height: 550px;
    }
    .bottom-diz-text p {
        white-space: normal;
    }
    .bottom-diz-text {
        padding-top: 3px;
    }
    .title-dop-partners {
        font-size: 32px;
    }
    .some-text-list {
        font-size: 16px;
    }
    .partners-list li:nth-child(4) {
        padding: 40px 0 0 280px;
    }
    .partners-list li:nth-child(2) {
        padding: 39px 0 0 160px;
    }
    .bottom-text-section-11 {
        font-size: 21px;
    }
    .section_11 {
        padding: 88px 0 70px 0;
    }
    .bottom-text-section-11 {
        padding-top: 50px;
    }
    .section_4 {
        padding: 60px 0 60px;
    }
    .section_3 {
        padding-bottom: 80px;
    }
    .left-button-block-cap .cap-position-button {
        margin-left: 0;
    }
    .right-button-block-cap .cap-position-button {
        margin-right: 0;
    }
    .left-button-block-cap p {
        font-size: 26px;
        top: -115px;
        left: 20px;
    }
    .right-button-block-cap p {
        font-size: 26px;
        top: -115px;
        right: 20px;
    }
}
@media (max-width: 991px) {
    .big-blue-text {
        font-size: 50px;
    }
    .block-section-1-text-bottom {
        padding: 36px 40px 20px;
    }
    .section-2-title {
        font-size: 21px;
    }
    .list-section-2-left {
        padding-left: 0px;
    }
    .all-style-section-2-list li {
        font-size: 14px;
    }
    .mini-text-list-sect-2 {
        font-size: 12px;
    }
    .number-line-1:before {
        width: 290px;
    }
    .section-content-padding-bottom .some-text-content-first {
        padding-top: 0px;
        padding-right: 25px;
    }
    .number-line-2:before {
        width: 290px;
        height: 135px;
        left: 55px;
        background-size: contain;
    }
    .some-text-content-first {
        font-size: 13px;
        line-height: 17px;
        padding-top: 0;
    }
    .number-line-3:before {
        width: 280px;
        left: -45px;
        background-size: contain;
    }
    .text-right-bottom-position {
        padding-right: 40px;
    }
    .title-section-4 {
        font-size: 27px;
    }
    .section_4 {
        padding: 40px 0 40px;
    }
    .some-person-text {
        font-size: 17px;
        padding-left: 10px;
    }
    .all-blue-style-button-transparent {
        font-size: 16px;
    }
    .some-text-problem,
    .some-left-decision-text,
    .decision-list,
    .total-some-text {
        font-size: 14px;
    }
    .title-info {
        font-size: 26px;
    }
    .title-info-block {
        height: 140px;
    }
    .block-absolute-1 {
        padding: 25px;
    }
    .block-absolute-2 {
        padding: 25px;
        top: 110px;
        left: 142px;
    }
    .block-absolute-3 {
        padding: 25px;
        left: 362px;
    }
    .block-absolute-4 {
        padding: 25px;
    }
    .block-absolute-5 {
        padding: 25px;
        top: 171px;
    }
    .block-absolute-6 {
        padding: 25px;
        top: 222px;
        left: 286px;
    }
    .block-absolute-7 {
        padding: 25px;
        top: 324px;
        left: 160px;
    }
    .block-tuposty-dizaynera {
        height: 470px;
    }
    .section-10-button-position {
        margin-top: 28px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        float: none;
    }
    .section_10 {
        padding-bottom: 45px;
    }
    .section_11 {
        padding: 50px 0 50px 0;
    }
    .title-dop-partners {
        font-size: 26px;
    }
    .partners-list li:nth-child(1),
    .partners-list li:nth-child(2),
    .partners-list li:nth-child(3),
    .partners-list li:nth-child(4) {
        padding-left: 0;
    }
    .list-number-style {
        width: 95px;
        display: inline-block;
    }
    .block-cap-letter-circle-all {
        width: 356px;
    }
    .block-cap-letter-circle-three:before {
        left: -132px;
        width: 132px;
    }
    .block-cap-letter-circle-three:after {
        right: -132px;
        width: 132px;
    }
    .list-section-2-left__last {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .big-blue-text {
        font-size: 22px;
        line-height: 34px;
    }
    .list-section-2-left__last {
        font-size: 12px;
        left: 0;
        text-align: left;
        line-height: 28px;
    }
    .container-fluid {
        padding: 0 15px;
    }
    .section-1-head-text {
        font-size: 14px;
        line-height: 28px;
        display: inline;
    }
    .media-text-center {
        text-align: center;
    }
    .block-section-1-text-bottom {
        padding: 23px 0 10px;
        font-size: 14px;
    }
    .section-2-title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
    }
    .section_2 {
        padding: 25px 0 75px 0;
    }
    .all-style-section-2-list {
        padding-top: 0px;
    }
    .all-style-section-2-list li {
        font-size: 12px;
        line-height: 32px;
    }
    .media-none-padding {
        padding: 0;
    }
    .list-section-2-right {
        padding-left: 0;
    }
    .mini-text-list-sect-2 {
        font-size: 10px;
    }
    .title-section-3 {
        margin-left: 0;
        margin-right: 0;
    }
    .number-line-1:before,
    .number-line-2:before,
    .number-line-3:before {
        display: none;
    }
    .section-content-padding {
        padding-top: 16px;
        padding-left: 0;
    }
    .section-content-padding-bottom {
        padding-top: 16px;
    }
    .text-right-bottom-position {
        padding-right: 0;
        text-align: left;
    }
    .section-content-padding-bottom {
        padding-left: 0;
    }
    .some-text-content-first {
        font-size: 14px;
    }
    .section-content-padding-bottom .some-text-content-first {
        padding-top: 0px;
        padding-right: 0;
        text-align: left;
    }
    .section_3 {
        padding-bottom: 30px;
    }
    .title-section-4 {
        font-size: 19px;
        line-height: 25px;
    }
    .section_4 {
        padding: 24px;
    }
    .person-block-section-5 {
        padding: 0;
    }
    .some-person-text {
        font-size: 17px;
        padding-left: 0;
        padding-top: 10px;
        display: block;
        padding-bottom: 10px;
    }
    .title-problem, .title-decision, .total-title {
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 12px;
        margin: 0;
    }
    .some-text-problem, .some-left-decision-text, .decision-list, .total-some-text {
        font-size: 14px;
        padding: 0;
        text-align: center;
        margin-left: -15px;
        margin-right: -15px;
    }
    .section_6 {
        padding: 8px 0 24px 0;
    }
    .section_8 {
        padding: 8px 0 17px 0;
    }
    .all-blue-style-button-transparent {
        font-size: 13px;
    }
    .style-position-button-section-7 {
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .person-block-section-5 {
        text-align: center;
    }
    .some-text-content-first br {
        display: none;
    }
    .title-info {
        font-size: 21px;
    }
    .title-info-block {
        height: auto;
        padding: 25px 0;
    }
    .title-info-block:before {
        display: none;
    }
    .block-absolute-1 {
        padding: 25px;
        position: relative;
        left: 0;
        right: 0;
        top: 20px;
    }
    .block-absolute-2 {
        top: 40px;
        left: 0;
        position: relative;
    }
    .block-absolute-3 {
        left: 0;
        position: relative;
        top: 60px;
    }
    .block-absolute-4 {
        left: 0;
        position: relative;
        top: 80px;
    }
    .block-absolute-5 {
        left: 0;
        position: relative;
        top: 100px;
    }
    .block-absolute-6 {
        left: 0;
        position: relative;
        top: 120px;
    }
    .block-absolute-7 {
        left: 0;
        position: relative;
        top: 140px;
    }
    .block-tuposty-dizaynera {
        height: 830px;
    }
    .bottom-diz-text {
        font-size: 15px;
        margin-left: 0;
        padding: 0;
    }
    .bottom-diz-text br {
        display: none;
    }
    .title-parners {
        font-size: 20px;
        line-height: 27px;
    }
    .section_11 {
        padding: 30px 0;
    }
    .title-dop-partners {
        font-size: 24px;
        line-height: 30px;
        margin-top: 23px;
    }
    .list-number-style {
        width: 35px;
        font-size: 30px;
    }
    .dop-text-block {
        width: calc(100% - 50px);
        margin-left: 10px;
    }
    .dop-text-list-title {
        font-size: 14px;
    }
    .some-text-list {
        font-size: 13px;
    }
    .section_7 {
        padding: 0 0 23px 0;
    }
    .some-text-list br {
        display: none;
    }
    .bottom-text-section-11 {
        padding-top: 30px;
        font-size: 16px;
        line-height: 22px;
    }
    .bottom-text-section-11 br {
        display: none;
    }
    .footer-logo,.footer-social-block,.block-design-all {
        padding: 0;
    }
    .some-text-absolute {
        font-size: 16px;
    }
    .prev-arrow-slider,.next-arrow-slider {
        width: 50px;
    }
    .block-cap-letter-circle-three:before,
    .block-cap-letter-circle-three:after,
    .block-cap-letter-circle-all:before,
    .block-cap-letter-circle-all:after {
        display: none;
    }
    .left-button-block-cap p {
        font-size: 26px;
        top: 0;
        left: 0;
        position: relative;
        text-align: center;
        margin-bottom: 12px;
    }
    .left-button-block-cap p span.blue-text-cap {
        text-align: center;
    }
    .left-button-block-cap .cap-position-button {
        margin-left: auto;
        margin-bottom: 12px;
    }
    .block-cap-letter-circle-all {
        margin: 10px auto 28px;
    }
    .right-button-block-cap p {
        font-size: 26px;
        top: 0;
        right: 0;
        position: relative;
        text-align: center;
    }
    .right-button-block-cap p span.blue-text-cap {
        text-align: center;
        margin-bottom: 12px;
    }
    .right-button-block-cap .cap-position-button {
        margin-right: auto;
    }
    .left-button-block-cap p span.blue-text-cap:before,
    .right-button-block-cap p span.blue-text-cap:before {
        display: none;
    }
    .block-cap-letter-circle-all {
        width: 100%;
    }
}
@media (max-width: 600px) {
    #sigin-account .modal-content, #login-account .modal-content {
        width: 100%;
    }
    .cap-title {
        font-size: 38px;
        line-height: 52px;
    }
}
@media (max-width: 450px) {
    .bottom-modal-sign-link-left,.bottom-modal-sign-link-right {
        float: none;
        margin-top: 12px;
        display: block;
        text-align: center;
    }
}
@media (max-width: 400px) {
    .left-block-chekeds-modal,.right-block-chekeds-modal {
        width: 100%;
        margin-bottom: 8px;
    }
    .left-block-chekeds-modal {
        border-right: 1px solid #ebebeb;
    }
    #sigin-account .exceptionText {
        text-align: left;
        padding-left: 20px;
    }
}
@media (max-width: 350px) {
    .footer-logo,.footer-social-block,.block-design-all {
        width: 100%;
        text-align: center;
        margin: 10px 0 10px 0;
    }
    .block-design {
        text-align: center;
    }
    .footer-all {
        padding: 10px 0 15px 0;
    }
    .right-button-block-cap,
    .left-button-block-cap {
        padding-left: 0;
        padding-right: 0;
    }
}