@media (max-width: 1460px) {
    .wrapperContent {
        /*margin-left: 260px;*/
        padding-right: 10px;
    }
    .wrapper {
        width: 100%;
        overflow-x:  hidden;
    }
    .container {
        width: 98%;
        margin-left: 0;
    }
    .wrapperContent.menu-closed {
        /*margin-left: 70px;*/
    }
    .linkToTop {
        right: 20px;
        left: auto;
        margin-right: 0;
    }
}
@media (max-width: 1300px) {
    .wrapperContent {
        margin-left: 260px;
    }
    body.moderator .titlesAccordion {
        max-width: 80%;
    }
    body.moderator .accordionProjectFullBlock .moderator-edit{
        right: -195px;
    }
    .inputFiltersStyle {
        font-size: 12px;
    }
    .tabs-nav-list li {
        margin-right: 50px;
    }
    .hot-order {
        margin-left: 0;
    }
    .button-return-order {
        margin: 7px 0 0 0;
    }
    .project-crate-form-style.create-order-form input.numbers-lead {
        max-width: calc(100% - 17px);
    }
    .dropbox label {
        padding: 65px 45px 0;
        max-width: 100%;
    }
    .create-order-form input {
        max-width: 100%;
    }
    .create-order-form .wrapper-custom-select {
        max-width: 100%;
    }
    .wrapper-description textarea {
        max-width: 100%;
    }
    .apply-for-project .block-answer-dop-img {
        width: 31.8%;
    }
    .input-file-block .btn-file {
        width: 277px;
    }
    .all-button-style {
        width: 174px;
    }
    .tabs-nav-list li {
         margin-right: 0;
        width: 13.83%;
    }
}
@media (max-width: 1092px) {
    .all-button-style {
        width: 152px;
        font-size: 11px;
    }
}
@media (max-width: 1050px) and (min-width: 991px) {
    body.moderator .titlesAccordionBlock .col-md-8,
    body.moderator .titlesAccordionBlock .col-md-4{
        width: 100%;
    }
    .crambsTitleAccord {
        text-align: left;
    }
    .menu-open .create-order-form input.coast-lead-input {
        max-width: 150px;
    }
    .menu-open .create-order-form input.numbers-lead {
        max-width: 245px;
    }
    .wrap-coast-lead > div {
        max-width: 251px;
    }
    .menu-open .apply-for-project .create-order-form input.coast-lead-input,
    .apply-for-project .create-order-form input.coast-lead-input{
        max-width: calc(100% - 92px);
    }

}
@media (max-width: 1199px) {
    body.moderator .accordionProjectFullBlock {
        /*max-width: 90%;*/
    }
    body.moderator .accordionProjectFullBlock .moderator-edit{
        right: -175px;
        width: 155px;
    }
    .navList li {
        display: inline-block;
        margin-right: 13px;
    }
    .border-rev-info {
        padding: 7px 14px;
    }
    .checkboxStyle + label {
        margin-right: 5px;
    }

    .exceptionText {
        padding-left: 19px;
        font-size: 12px;
    }

    .tagsFontStyle {
        font-size: 11px;
    }

    .mediaPadding1199 {
        padding: 0;
    }
    .payments-3-mounth .sales-text-button, .payments-1-years .sales-text-button {
        font-size: 10px;
        display: block;
        margin-top: 4px;
    }

    .footerListMediaCenter {
        padding: 0;
    }
    .input-text-group {
        min-width: 360px;
        max-width: 360px;
    }
    .footerList.socialList {
        padding-left: 0;
    }
    .accordionProjectFullBlock.author .accordionContent{
        padding-bottom: 30px;
    }
    .accordionProjectFullBlock.author .author-edit,
    .accordionProjectFullBlock.author .author-remove,
    .accordionProjectFullBlock.author .author-secure{
        bottom: 15px;
        right: auto;
    }

    .accordionProjectFullBlock.author .author-edit{
        left: 22px;

    }
    .accordionProjectFullBlock.author .author-remove{
        left: 125px;
    }
    .accordionProjectFullBlock.author .author-secure{
        left: 260px;
    }

    .info-right-all {
        padding-left: 0px;
    }

    .logo-media-tablet {
        width: 100px;
    }

    .profile-info-user {
        margin-left: 0px;
    }
    .tabs-nav-list li {
        margin-right: 20px;
    }
    .text-media-left {
        margin: 10px 0 0 0;
        text-align: left;
    }
    .print-reviews li:nth-child(1) {
        width: 16%;
    }
    .print-reviews li:nth-child(2) {
        width: 10%;
        display: none;
    }
    .print-reviews li:nth-child(4) {
        width: 25%;
    }
    .print-reviews li:nth-child(3) {
        width: 42%;
    }
    .print-reviews li:nth-child(3) {
        width: 38%;
    }
    .apply-for-project .block-mess-textarea {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .print-reviews li:nth-child(5) {
        width: 16%;
    }
    .apply-for-project .block-answer-dop-img:nth-child(1) {
        margin: 0 0 10px 0;
    }
    .apply-for-project .block-answer-dop-img:nth-child(2) {
        margin: 0 20px 10px 20px;
    }
    .apply-for-project .block-answer-dop-img:nth-child(3) {
        margin: 0 0 10px 0;
    }
    .apply-for-project .block-answer-dop-img {
        width: 31.8%;
        /*margin-left: 0 !important;*/
        /*margin-right: 0 !important;*/
    }
    .tabs-nav-list li {
        margin-right: 0;
        font-size: 12px;
        width: 13.73%;
    }
    .search-wrap {
        width: 100%;
        max-width: 317px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin:-10px 0 20px;
        float: none;
    }
    .executor-project .print-reviews li:nth-child(2) {
        display: block;
    }
    .block-info-stat .info-reviews, .block-info-stat .info-rating {
        margin-left: 0;
    }
    .wrapperContent.menu-closed .handler-menu-style-block {
        width: 50%;
    }
    .wrapperContent.menu-closed .text-media-left {
        margin: -2px 0 0 0;
        text-align: left;
    }
    .listProjectAll.paddingRight {
        padding-right: 0;
    }
    .projectDistributor>div{
        padding-right: 0;
    }
}
@media (max-width: 1070px) {
    .nameUser {
        font-size: 12px;
    }
    .multiple-terms-text {
        margin-left: 0;
        display: block;
        margin-top: 10px;
    }

}
@media (max-width: 991px) {
    body.moderator .titlesAccordion {
        max-width: 75%;
    }
    body.moderator .accordionProjectFullBlock {
        max-width: 74%;
    }
    body.moderator .accordionProjectFullBlock .moderator-edit{
        right: -165px;
    }
    .inputFiltersStyle {
        margin-top: 8px;
    }
    .profile-all-block .info-right-all {
        margin-top: 20px;
    }
    .listTags li {
        margin: 0;
    }
    .avtor-project.mediate-style-block .block-info-stat {
        padding-left: 40px;
    }
    .container {
        width: 97%;
        margin-left: 0;
    }
    #create-keys .modal-dialog {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .print-reviews li {
        font-size: 10px;
    }
    .navList {
        margin-bottom: 8px;
    }

    .projectAddedText {
        text-align: left;
    }
    .wrapperContent.menu-closed .handler-menu-style-block {
        width: 100%;
    }
    .wrapperContent.menu-closed .text-media-left {
        margin: 10px 0 0 0;
        text-align: left;
    }
    .projectFIlterText {
        text-align: left;
    }

    .buttonsFilterBLock {
        margin-top: 20px;
    }
    .crambsTitleAccord {
        text-align: left;
    }
    .input-text-group {
        min-width: 200px;
        width: 100%;
        max-width: 423px;
    }
    .paddingNoneMedia991 {
        padding: 0;
    }

    .footerList {
        margin-bottom: 30px;
    }
    .print-answer-block-all .input-file-block  {
        margin-left: 0;
    }
    .input-file-block {
        margin-left: 10px;
    }
    .first-tabs-right {
        padding-left: 0;
    }
    .marg-style-left {
        margin-left: 0;
    }
    .banerListAll {
        padding: 0;
    }

    .footerList .titleFooterList {
        font-size: 13px;
    }

    .footerList li {
        font-size: 12px;
    }

    .footerList.socialList {
        text-align: center;
        margin-bottom: 20px;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }

    /*.vertAlignSub, .vertAlignBaseline, .vertAlignSuper {*/
        /*vertical-align: inherit;*/
    /*}*/

    .listSocialLink.faceBookLink {
        width: 30%;
        text-align: center;
    }

    .footerList .listSocialLink {
        width: 30%;
    }

    .listSocialLink.vkLink {
        text-align: center;
    }

    .linkToTop {
        bottom: 20px;
    }

    .titlesAccordionBlock {
        padding: 17px 10px 14px;
    }

    .distribLink-left {
        margin-right: 15px;
    }

    .mediaPadding991 {
        padding: 0;
    }

    .listSocialLink.faceBookLink {
        margin: -5px 0 0 23px;
    }

    .listSocialLink.vkLink {
        margin: -12px 0 0 0;
    }

    .footerListMediaCenter:nth-child(3) {
        padding-left: 0;
    }

    .footerListMediaCenter:nth-child(4) {
        padding-left: 20px;
    }
    .wrapper-custom-select a.select-prev{
        top: 27px;
    }
    .wrapper-custom-select a.select-next{
        top: 17px;
    }
    .info-right-all {
        margin-top: 0px;
    }
    .menu-closed .tabs-nav-list li {
        margin-right: 0px;
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }
    .tabs-nav-list li {
        margin-right: 0px;
        font-size: 12px;
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }
    .tabs-nav-list li img {
        margin-left: 4px;
        width: 14px;
    }
    .tabs-nav-list {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .opis-project-style-all {
        padding: 18px 0 18px 0px;
    }
    .button-return-order {
        margin: 7px 0 0 0;
    }
    .create-order-modal .modal-body {
        padding: 15px;
    }
    .create-order-modal .modal-footer {
        text-align: center;
        padding-left: 15px;
    }
    .create-order-modal .modal-footer .button-return-order {
        margin: 7px 0 0 10px;
    }
    .row.agree-order > div{
        text-align: center;
    }
    .row.agree-order > div > div{
        margin: 0 auto;
    }
    .row.agree-order > div > ul{
        margin: 0 auto 30px;
    }
    .create-order-form input.coast-lead-input {
        max-width: calc(100% - 92px);
    }
    .menu-open .create-order-form input.numbers-lead {
        max-width: 100%;
    }
    .order-executive-agree,
    .order-executive-part,
    .order-executive-reject {
        max-width: 100%;
        margin: 5px 0;
    }
    .right-select-order {
        padding: 0;
    }
    .right-select-order,
    .left-select-order {
        padding: 0;
    }
    .order-executive .dropbox label {
        margin-top: 20px;
    }
    .right-select-order {
        margin-top: 15px;
    }

    .project-crate-form-style.create-order-form .wrapper-custom-select {
        margin-top: 0;
    }
    .main-hot-style .hot-order {
        margin-left: 0;
        padding-left: 0;
    }
    .order-executive .crambsTitleAccord {
        margin-top: 10px;
    }
    .text-media-left-991 {
        display: block;
        margin: 10px 0 0 0;
        text-align: left;
    }
    .block-info-stat .info-reviews {
        margin-left: 0;
    }
    .block-answer-dop-img {
        width: 30%;
    }
    .print-reviews li:nth-child(1) {
        width: 23%;
    }
    .print-reviews li:nth-child(2) {
        display: none;
    }
    .print-reviews li:nth-child(3) {
        width: 36%;
    }
    .print-reviews li:nth-child(4) {
        width: 18%;
    }
    .print-reviews li:nth-child(5) {
        width: 23%;
    }
    #confirm-telephone .modal-dialog {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .mess-answer-file-input-block {
        padding-right: 0;
        padding-left: 0;
    }
    .media-paddimg-991-right {
        padding-right: 15px;
    }
    .print-button-mess-block {
        margin-top: 12px;
    }
    .button-cancellation {
        width: 100%;
        margin-left: 0;
        margin-top: 12px;
    }
    .block-button-cancellation {
        padding-left: 0;
        padding-right: 0;
    }
    .block-mess-textarea textarea {
        margin-bottom: 6px;
    }
    .apply-for-project .wrap-coast-lead {
        padding-left: 0;
        margin-top: 20px;
    }
    .wrapperContent {
        padding-right: 2px;
    }
    .padding-balans-block {
        padding-left: 10px;
    }
    .media-balans-button-style {
        padding: 0;
        margin-bottom: 12px;
    }
    .enrollment-position,
    .write-off-position {
        font-size: 13px;
    }
    .disput.disput-left {
        margin: 19px 0 0;
    }
    .disput.disput-right {
        margin: 19px 0 0;
    }
    .block-users-all-rotate  .block-info-stat .info-rating {
        margin: 0;
    }
    .block-users-all-rotate .status-all-off-on {
        margin-left: 15px;
        display: block;
        margin-top: 5px;
    }

    .block-users-all-rotate .list-info-users-all {
        padding: 6px 0 5px 100px;
    }
    .block-users-all-rotate .info-rating {
        padding: 20px 0 11px 6px;
        font-size: 10px;
    }
    .block-users-all-rotate .order-reviews {
        padding: 20px 0 11px 6px;
        font-size: 10px;
    }
    .block-search-users {
        text-align: left;
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 0;
    }
    .some-box-question-text {
        max-width: 50%;
    }
    .tickets-id {
        font-size: 13px;
    }
    .question-helps .input-question-help {
        width: 100%;
    }
    .apply-for-project .block-mess-textarea  .block-answer-dop-img {
        margin-left: 0;
        margin-right: 1.51% !important;
    }
    .apply-for-project .block-mess-textarea  .block-answer-dop-img:nth-child(3n) {
        margin-right: 0 !important;
    }
    .block-mess-textarea {
        margin-bottom: 20px;
    }
    .apply-for-project .input-file-block {
         margin-left: 0;
    }
    .tabs-nav-list li {
        font-size: 12px;
        width: 33.73%;
        white-space: nowrap;
    }

    .photo-news {
        width: 100%;
        display: block;
        margin: 0 auto 20px;
    }
    .text-wrap-news {
        width: 100%;
        padding-left: 0;
    }
    .navList {
        margin: 0 auto;
        display: none;
        position: absolute;
        right: 10px;
        top: 0;
        background: #fff;
        z-index:3;
        border-bottom: 1px solid #ccc;
    }
    .navAll {
        margin-top: 20px;
    }
    .navList li {
        display: inline-block;
        margin: 7px auto;
        width: 100%;
        text-align: right;
    }
    .navBurgers {
        display: block;
        position: relative;
        float: right;
        right: 15px;
        top: -8px;
        z-index: 100;
        font-size: 20px;
    }
    .photo-news img{
        width:auto;
        height: auto;
    }
    #added-proj-modal .input-file-block {
        margin-left: 0;
    }
    .apply-for-project .block-answer-dop-img {
        width: 30.8%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .block-reviews-avatar-img {
        top: -7px;
        left: -22px;
    }
    .name-block-answer-top {
        padding: 7px 21px 7px 21px;
        border: 1px solid #e8e8e8;
    }
    .wrapperContent {
        padding-bottom: 0;
    }
    footer {
        position: relative;
    }
}
@media (max-width: 767px) {
    body.moderator .accordionProjectFullBlock {
        max-width: 100%;
    }
    body.moderator .titlesAccordion {
        max-width: 100%;
    }
    body.moderator .accordionProjectFullBlock .moderator-edit {
        position: static;
        right: auto;
        top: 0;
        width: 100%;
        max-width: 275px;
        margin-top: 15px;
    }
    .tabs-nav-list {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .menu-closed .tabs-nav-list li,
    .tabs-nav-list li {
        margin-right: 0px;
        font-size: 12px;
        padding-left: 2px;
        padding-right: 2px;
        width: auto;
        margin: auto;
    }
    .wrapperContent {
        margin-left: 65px;
    }
    .wrapperContent.menu-closed {
        margin-left: 65px;
    }
    .avtor-project.mediate-style-block .block-info-stat {
        padding-left: 0px;
    }
    .projectAddedText {
        text-align: right;
        margin-top: 16px;
    }
    .distribLink-left {
        font-size: 10px;
        padding: 6px 6px 3px;
        margin-right: 0;
    }
    .arrowOutline {
        font-size: 12px;
        padding: 3px 9px 2px;
    }
    .distribLink i {
        height: 7px;
    }
    .tagsClose {
        margin-right: 4px;
    }
    .filtersForm {
        margin-top: 10px;
    }
    .titlesAccordion {
        display: inline;
        vertical-align: top;
    }
    .titlesAccordion {
        display: inline-block;
        vertical-align: top;
    }
    .added-mess-file {
        margin-top: 10px;
    }
    .footerList {
        margin-bottom: 30px;
    }
    .banerListAll {
        display: none;
    }
    .socialList .titleFooterList {
        text-align: center;
    }
    .footerList.socialList {
        margin-bottom: 10px;
    }
    .listSocialLink.faceBookLink,
    .listSocialLink.vkLink {
        text-align: center;
    }
    .socialList {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .footerList li {
        text-align: center;
    }
    .row {
        margin-right: 0;
    }
    .paddingRightNone {
        padding-right: 0;
    }
    .titlesAccordion {
        font-size: 13px;
    }
    .accordionContent {
        padding: 10px 8px;
    }
    .footerListMediaCenter:nth-child(4) {
        padding-left: 0;
    }
    .accordionProjectFullBlock.author .author-edit{
        left: 10px;
    }
    .accordionProjectFullBlock.author .author-remove{
        left: 115px;
    }
    .accordionProjectFullBlock.author .author-secure{
        left: 250px;
    }
    .profile-info-user {
        margin-left: 0;
    }
    .border-rev-info {
        padding: 7px 0;
        border: none;
    }
    .user-info-com {
        padding-left: 3px;
    }
    .user-info-com:before {
        display: none;
    }
    .info-rating {
        padding-left: 3px;
    }
    .reit-third {
        margin-right: 3px;
    }
    .user-info-com li img {
        margin-right: 6px;
    }
    .user-info-com li {
        margin-top: 2px;
    }
    .opis-project-style-all {
        padding: 18px 0 18px 0px;
    }
    .content-project-all {
        margin-bottom: 0px;
    }
    .button-go-to-order {
        margin-top: 12px;
    }
    .nameUser,.your-info-proj {
        font-size: 10px;
    }
    .project-crate-form-style.create-order-form input.numbers-lead {
        max-width: 100%;
    }
    .project-2-titles {
        margin-bottom: 6px;
    }
    .crambsTitleAccord {
        margin-bottom: 10px;
    }
    .crambsTitleAccord li a {
        font-size: 12px;
    }
    .print-reviews li {
        display: block;
        float: none;
        width: 100% !important;
        text-align: left;
        padding: 6px 0 12px 21px;
        height: auto;
    }
    .print-reviews li:nth-child(1),
    .print-reviews li:nth-child(3),
    .print-reviews li:nth-child(4) {
        border: none;
    }
    .print-reviews li:nth-child(2) {
        display: none;
    }
    .mobile-text-left {
        text-align: left;
    }
    .tabs-rev-content .nav-reviews {
        text-align: center;
    }
    .tabs-rev-content .nav-reviews li {
        margin: 0 auto 12px;
    }
    .padding-balans-block {
        padding-left: 0;
        width: 230px;
        margin: 0 auto;
        float: none;
        display: block;
        clear: both;
    }
    .services-prof-text {
        padding: 0 0 0 0;
    }
    .input-text-group {
        min-width: 400px;
    }
    .avatar-load-block {
        position: relative;
        margin-bottom: 12px;
    }
    .input-file-block {
        margin: auto;
        margin-left: 0;
        width: 100%;
    }
    .medeia-non-padding-767 {
        padding: 0;
    }
    .first-tabs-right {
        padding-top: 12px;
    }
    .media-padd-none-767 {
        padding-right: 0;
    }
    .block-users-all-rotate .users-all-block-img img {
        width: 50px;
        display: block;
    }
    .block-users-all-rotate .list-info-users-all {
        padding: 1px 0 5px 58px;
    }
    .block-users-all-rotate .statick-avatars-reviews .nameUser {
        font-size: 10px;
    }
    .block-users-all-rotate .statick-avatars-reviews .nameUser .hover-text-decoration {
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
    }
    .block-users-all-rotate .info-rating {
        padding: 0px 0 8px 6px;
        font-size: 10px;
        border-left: none;
    }
    .block-users-all-rotate .order-reviews {
        padding: 8px 0 8px 6px;
        font-size: 10px;
        border-left: none;
    }
    .block-users-all-rotate .users-all-block-img {
        width: 60px;
    }
    .question-helps .input-question-help {
        width: 195px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .all-button-style {
        margin-bottom: 12px;
    }
    .question-helps {
        text-align: left;
    }
    .create-order-form>.row>div {
        padding-right: 5px;
        padding-left: 20PX;
    }
    .project-crate-form-style.create-order-form input {
        /*max-width: 620px;*/
        /*width: 100%;*/
    }
    .checkboxStyle {
        width: 12px !important;
    }
    .block-users-all-rotate .status-all-off-on {
        margin-left: 13px;
    }
    .news-comment-answer .comment,
    .news-comment .comment {
        padding-left: 0 !important;
    }
    #added-proj-modal .modal-dialog {
        margin-left: auto;
        margin-right: auto;
    }
    #added-proj-modal .left-block-form-modal {
        padding-right: 19px;
    }
    #added-proj-modal .right-block-form-modal {
        padding-right: 24px;
        padding-left: 19px;
    }
    .block-text-count-textarea {
        padding-left: 0;
    }
    .statick-avatars-reviews .nameUser {
        padding-left: 0;
        display: inline-block;
    }
    .statick-avatars-reviews .block-reviews-avatar-img {
        display: block;
        float: left;
        position: relative;
        top: -2px;
        left: -12px;
        width: 60px;
    }
    .mediate-style-block .block-info-stat {
        padding-left: 0px;
        display: inline-block;
    }
    .name-block-answer-top {
        padding: 12px 21px 7px 21px;
        border: 1px solid #e8e8e8;
    }
    .block-reviews-avatar-img img {
        width: 60px;
    }
}
@media (max-width: 630px) {
    .time-box-question {
        float: left;
        width: 100%;
    }
    .id-tickets-all-block {
        float: left;
        width: 100%;
    }
    .id-tickets-all-block .tickets-id {
        text-align: left;
        margin-top: 6px;
    }
    .some-box-question-text {
        max-width: 100%;
    }
    .some-box-question .list-date-answer {
        margin-top: 7px;
        margin-left: 0;
    }
    #confirm-telephone .modal-body {
        padding: 30px 15px 50px 15px;
    }
    #confirm-telephone .input-all-style-group.modal-input-code-telephone {
        padding-left: 10px !important;
    }
}
@media (max-width: 600px) {
    .tabs-nav-list {
        display: block;
    }
    .menu-closed .tabs-nav-list li, .tabs-nav-list li {
        display: block;
        margin-bottom: 14px;
        font-size: 14px;
    }
    .tabs-nav-list li:before {
        display: none !important;
    }
    .tabs-nav-list li img {
        width: auto;
    }
    .some-box-question {
        padding: 6px 6px;
    }
    .dialog-wrap .agree-order_name {
        max-width: 130px;
        padding:10px 0 5px 2px;
    }
    .dialog-wrap .counter-mess {
        padding: 21px 3px 21px 0;
    }
}
@media (max-width: 590px) {
    .info-right-all {
        margin-top: 20px;
        width: 100%;
    }
    .some-text-reivews {
        padding-left: 0;
    }
    .title-reviews-style {
        margin-top: 10px;
    }
    .apply-for-project .block-mess-textarea  .block-answer-dop-img {
        width: 100%;
        display: block;
        float: none;
    }

    .media-logo-all-block {
        width: 100%;
    }

    .project-link-width {
        margin-bottom: 5px;
    }
    .disput .pers-avatar {
        float: none;
    }
    .disput .agree-order_name {
        max-width: 100%;
    }
    .disput .agree-order_reit {
        max-width: 100%;
    }
    .disput-review .comment {
        width: 100%;
        padding-left: 10px;
    }
}
@media (max-width: 550px) {
    .hot-order.exceptionText {
        padding-top: 0;
        margin-top: -12px;
    }
    .clip-project,
    .redact-project-link,
    .deleted-project-link {
        display: block;
        margin-bottom: 4px;
    }
    .nameUser {
        font-size: 12px;
    }
    .project-2-content .order-reviews {
        display: block;
        margin-left: 0;
        margin-top: 6px;
    }
    .list-date-answer {
        display: block;
        margin: 6px 0 0 0;
    }
    .mediate-style-block .block-info-stat {
        padding-left: 0px;
        margin-top: 8px;
    }
    .name-block-answer-top,.name-block-answer-top-min-padd,.print-reviews li {
        padding: 6px 6px 8px 6px;
    }
    .print-reviews li {
        font-size: 10px;
    }
    .wrap-coast-lead > div {
        max-width: 100%;
    }
    .wrap-coast-lead > div input.last-time-day {
        width: 25%;
    }
    .wrap-coast-lead > div input.last-time-month {
        width: 45%;
    }
    .wrap-coast-lead > div input.last-time-year {
        width: 26.5%;
    }
    .statick-avatars-reviews .block-reviews-avatar-img {
        top: 2px;
        left: 0px;
        width: 70px;
    }
    .statick-avatars-reviews .nameUser {
        margin-top: 6px;
    }
    /*.list-date-answer {*/
        /*padding-top: 6px;*/
    /*}*/
    .statick-avatars-reviews .nameUser {
        padding-left: 0;
        display: inline-block;
        width: calc(100% - 72px);
    }
}
@media (max-width: 550px) {
    .block-answer-dop-img {
        width: 210px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
        margin-bottom: 12px;
    }
    .titlesAccordion {
        width: 100%;
        display: block;
        max-width: 100%;
    }
    .title-news .title-news__date {
        display: block;
        float: none;
        margin: 10px 0 0;
    }
    .footer-news__tags {
        float: none;
        margin: 10px 0 0;
    }
}
@media screen and (max-width: 475px) {

    .create-order-form input.numbers-lead {
        max-width: 240px;
    }
    .coast-lead + .select2-container {
        width: 95px !important;
    }
    .hot-order.exceptionText {
        padding: 0;
        margin-top: -12px;
        line-height: 19px;
    }
    .wrap-coast-lead .beforeIcon1:before {
        top: -3px;
    }
}
@media screen and (max-width: 450px) {
    .lastProjPublic-link {
        display: block;
        margin: 5px auto;
    }
    .project-2-content .lastProjPublic-link {
        display: inline-block;
        margin: 5px auto;
    }
    .pagination li {
        margin: 0 -3px;
    }

    .footerListMediaCenter {
        width: 100%;
        text-align: center;
    }
    .next-desc{
        display: none;
    }
    .next-mob {
        display: block;
    }
    .projectFIlterText p {
        font-size: 13px;
    }

    .eyeIcon {
        margin-left: 0;
    }
    .accordionProjectFullBlock.author .author-secure{
        left: 10px;
        bottom: 0px;
    }
    .title-basic-inf {
        margin-bottom: 20px;
    }
    .block-management {
        position: relative;
        top: -16px;
        right: auto;
    }
    .agree-order_name .role {
        display: block;
        margin: 5px;
    }
    .order-executive .agree-order_reit {
        margin: 5px 0 0;
    }
    .order-executive .number-one {
        top: 36px;
    }
    /*.create-order-form input.coast-lead-input {*/
        /*max-width: calc(100% - 87px);*/
    /*}*/
    .apply-for-project .block-mess-textarea {
        display: block;
    }

    .apply-for-project .block-answer-dop-img {
        width: 210px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .text-confirm,.input-err-mess {
        position: relative;
        top: 0px;
        right: 0;
        margin-top: 7px;
    }
    .input-err-mess br {
        display: none;
    }
    .input-text-group {
        min-width: 244px;
        padding-right: 0;
    }

}
@media (max-width: 400px) {
    .input-file-block .btn-file {
        width: 100%;
    }
    .button-profile-form {
        width: 100%;
    }
    .disput {
        padding: 3px;
    }
    .statick-avatars-reviews .block-reviews-avatar-img {
        display: block;
        margin-bottom: 10px;
    }
    .mediate-style-block .nickName {
        display: block;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}
@media (max-width: 350px) {
    .block-your-info-proj .gray-amend {
        display: block;
    }
    .text-input-file {
        font-size: 11px;
        padding-top: 16px;
    }
    .input-all-style-group {
        margin-right: -3px;
        padding: 0 !important;
    }
    .agree-order_reit li .blue-link {
        font-size: 11px;
    }

}
@media (max-height: 570px) {
    .wrapperNav {
        /*overflow-y: scroll;*/
        height: 100%;
    }

    .overview {
        width: 100%;
    }

    .scrollable.default-skin {
        padding-right: 0;
    }
}

