
/***********HEADER***********/

.navList {
    display: block;
}

.navList li {
    display: inline-block;
    margin-right: 33px;
}

.navLinkStyle {
    font-family: GothaProMed;
    color: #282828;
    font-size: 15px;
    text-decoration: none !important;
    transition: color .3s;
}
.navLinkStyle.active {
    color: #0494ca;
}

.footerList li a {
    transition: color .3s;
}

.navLinkStyle:hover,
.footerList li a:hover {
    color: #0494ca;
}

.projectAddedBlock {
    text-align: right;
}

.projectAddedText {
    color: #bd0851;
    font-family: GothaProBol;
    transition: color .3s;
}

.projectAddedText:hover {
    color: #0494ca;
}

.blockPAddBorder {
    padding: 15px 0;
    border-bottom: 1px solid #e8e8e8;
}






/***********FILTER***********/

.projectTitles {
    color: #394869;
    font-family: GothaProBla;
}

.projectFIlterText {
    text-align: right;
    padding-top: 20px;
}

.projectFIlterText p {
    color: #b2b2b2;
    font-family: GothaProMed;
}

.projectFIlterText p>a{
    cursor: pointer;
    margin-left: 25px;
    color: #394869;
    position: relative;
    text-decoration: none !important;
}

.projectFIlterText p>a:before {
    content: '';
    position: absolute;
    background: url("../img/index/filterIcon.png") no-repeat center;
    width: 11px;
    height: 12px;
    top: 2px;
    left: -14px;
}

.filtersForm {
    margin-top: 19px;
}

.inputFiltersStyle {
    width: 100%;
    border: 1px solid #e8e8e8;
    height: 45px;
    outline: none !important;
    font-family: GothaProReg;
    color: #2e2e2e;
    padding: 0 25px 0 20px;
}
.inputFiltersStyle::-webkit-input-placeholder{
    color: #b2b2b2 !important;
}
.inputFiltersStyle::-moz-placeholder{
    color: #b2b2b2 !important;
}
.inputFiltersStyle:-moz-placeholder {
    color: #b2b2b2 !important;
}


.optionDN {
    display: none;
}

.titleName {
    font-family: GothaProBol;
    color: #fff;
    font-size: 18px;
    margin: 0;
}


.wrapper {
    width: 1220px;
    position: relative;
}

.wrapperContent {
    margin-left: 275px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 183px;
}
.wrapperContent.menu-closed {
    margin-left: 30px;
}

.inputFiltersStyle {
    background: url("../img/index/arrSelect.png") no-repeat 95% center;
}

.inputFiltersNonBg {
    background: none;
}

.listTags li {
    display: inline-block;
    margin: 5px 0 -1px 0;
}

.blueTags {
    color: #3c67b0;
}

.tagsFontStyle {
    font-family: GothaProReg;
    font-size: 13px;
    font-weight: 500;
}

.tagsClose {
    color: #3c67b0;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    margin-left: 3px;
    margin-right: 12px;
}

.greenTags {
    color: #5ab78c;
}

.carryTags {
    color: #806845;
}

.radTags {
    color: #933c52;
}

.pincTags {
    color: #95259f;
}

.pincedTags {
    color: #5b1aa5;
}

.yellowTags {
    color: #b2632f;
}

.coralTags {
    color: #16acb1;
}

.checkboxStyle {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}
.checkboxStyle + label {
    cursor: pointer;
    margin-bottom: -3px;
    margin-right: 12px;
    display: inline-block;
}
.checkboxStyle:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkboxStyle:not(checked) + label {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: white;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.checkboxStyle:not(checked) + label:after {
    content: url(../img/index/checkedImg2.png);
    left: 0;
    right: 0;
    bottom: 0;
    width: 7px;
    height: 6px;
    opacity: 0;
    transition: all .3s;
    position: absolute;
    margin: auto;
    top: 0;
    line-height: 0;
}

.main-hot-style .checkboxStyle:not(checked) + label:after {
    top: -1px;
}
.checkboxStyle:checked + label {
    border: 1px solid #394869;
}

.checkboxStyle:checked + label:after {
    opacity: 1;
    background:  no-repeat center;
}

.not-checked-style.checkboxStyle:checked + label {
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
}

.not-checked-style.checkboxStyle + label {
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    cursor: no-drop;
}

.not-checked-style.checkboxStyle:not(checked) + label:after {
    content: '';
}

.exceptionText {
    position: relative;
    padding-left: 26px;
    margin-top: 6px;
    color: #b2b2b2;
    font-family: GothaProReg;
    font-size: 14px;
}

.beforeIcon1:before {
    content: '';
    position: absolute;
    left: 0;
    background: url("../img/index/icon-sp1.png") no-repeat 0 0;
    width: 12px;
    height: 16px;
}

.beforeIcon2:before {
    content: '';
    position: absolute;
    left: 0;
    background: url("../img/index/icon-sp1.png") no-repeat 0px -23px;
    width: 12px;
    height: 16px;
}

.buttonFilters {
    width: 100%;
    height: 44px;
    color: #fff;
    background-color: #3f4e6e;
    outline: none !important;
    border: none;
    font-family: GothaProBol;
    position: relative;
    transition: background-color .3s;
}

.buttonFilters:hover {
    background-color: #0494ca;

}

.buttonFilters:hover:before {
    border-color: #0494ca;
}

.buttonFilters:before {
    content: '';
    border: 1px solid #3f4e6e;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3px;
    right: -3px;
    transition: border-color .3s;
}

.clearFilters {
    margin-top: 10px;
    text-align: right;

}

.clearFilters a {
    color: #b2b2b2;
    font-family: GothaProReg;
    font-size: 14px;
}
.clearFilters a:hover {
    text-decoration: underline;
}

.buttonsFilterBLock {
    margin-top: 8px;
}

.distribLink,
.distribLink-left {
    color: #b2b2b2;
    font-size: 14px;
    transition: color .3s;
    border: 1px solid #b2b2b2;
    font-family: GothaProBol;
    padding: 18px;
    margin-right: 20px;
    display: inline-block;
    text-decoration: none !important;
    vertical-align: middle;
    cursor: pointer;
}

.distribLink-left.activeDistribLink,
.distribLink.active,
.distribLink-left:hover,
.distribLink:hover {
    color: #0494ca;
    border: 1px solid #0494ca;
}

.arrowOutline {
    font-size: 18px;
    padding: 15px 18px 12px;
}

.distribLink i {
    display: block;
    height: 11px;
    line-height: 0.5;
}

.arrowOutline {
    margin-right: 10px;
}

.textAlignRight .arrowOutline:last-child {
    margin-right: 0;
}

.banerListAll {
    display: none;
    padding-right: 0;
}

.baners li {
    height: 245px;
    width: 100%;
    background-color: #f6f6f6;
    margin-bottom: 20px;
}

.baners li a {
    height: 100%;
    background-color: #f6f6f6;
    display: inline-block;
    text-align: center;
    -webkit-writing-mode: vertical-rl;
    margin: auto;
    color: #e9e9e9;
    font-size: 30px;
}

.iconStyleSize {
    width: 12px;
    height: 16px;
    display: inline-block;
}

.iconProj_1 {
    background: url("../img/index/icon-sp1.png") no-repeat 0px 0px;
}

.iconProj_2 {
    background: url("../img/index/icon-sp1.png") no-repeat 0px -23px;
}

.iconProj_3 {
    background: url("../img/index/clipIcon.png") no-repeat center;
    width: 18px;
    height: 15px;
}

.titlesAccordion {
    font-size: 14px;
    font-family: GothaProMed;
    font-weight: 500;
    vertical-align: bottom;
    margin-right: 8px;
    transition: color .3s;
    max-width: 86%;
}

.titlesAccordion a {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    width: 100%;
}

.crambsTitleAccord {
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: GothaProMed;
}

.crambsTitleAccord li {
    display: inline-block;
    line-height: 20px;
}

.crambsTitleAccord li a {
    font-size: 14px;
    text-decoration: none !important;
    font-family: GothaProMed;
}

.crambsTitleAccord li a.colorCrambs:hover {
    color: #b2094d;
}
body.moderator .accordionProjectFullBlock {
    /*max-width: 98%;*/
}
body.moderator .accordionProjectFullBlock .moderator-edit{
    display: block;
    position: absolute;
    right: -195px;
    top:0;
    width: 175px;
}
.moderator-edit .agree {
    width: 100%;
    height: 35px;
    background-color: #15ad80;
    border: 1px solid #15ad80;
    color: #fff;
    font-family: GothaProBol, sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.moderator-edit .refuse-text {
    height: 35px;
    width: 100%;
    border: 1px solid #b90a52;
    line-height: 40px;
    padding: 0 10px;
    color: #b90a52;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 5px;
}

.moderator-edit .refuse {
    width: 100%;
    height: 35px;
    background-color: #b90a52;
    border: 1px solid #b90a52;
    color: #fff;
    font-family: GothaProBol, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.accordionProjectFullBlock {
    position: relative;
}
.accordionProjectFullBlock .author-edit,
.accordionProjectFullBlock .author-remove,
.accordionProjectFullBlock .author-secure,
.accordionProjectFullBlock .moderator-edit{
    display: none;
}
.accordionProjectFullBlock.author .author-edit,
.accordionProjectFullBlock.author .author-secure,
.accordionProjectFullBlock.author .author-remove{
    display: block;
    position: absolute;
    bottom: 22px;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.accordionProjectFullBlock.author .author-edit:hover,
.accordionProjectFullBlock.author .author-secure:hover,
.accordionProjectFullBlock.author .author-remove:hover{
    text-decoration: underline;
}
.accordionProjectFullBlock.author .author-edit{
    right: 233px;
    color: #394869;
}
.accordionProjectFullBlock.author .author-remove{
    right: 100px;
    color: #bd0851;
}
.accordionProjectFullBlock.author .author-secure{
    right: 22px;
    color: #282828;
}
.titlesAccordionBlock {
    background-color: #fff;
    padding: 17px 21px 14px;
    margin-top: 20px;
    border: 1px solid #e8e8e8;
}
.titlesAccordionBlock.hot {
    background-color: #fefcba;
}

.titlesAccordion:hover {
    color: #0494ca;
}

.colorCrambs {
    color: #b2094d;
}

.paddLeftNone {
    padding-left: 0;
}

.accordionContent {
    padding: 17px 21px;
    border: 1px solid #e8e8e8;
    border-top: none;
    position: relative;
}

.textContentAccord {
    font-size: 14px;
    line-height: 20px;
    color: #282828;
    font-family: GothaProReg;
    margin-bottom: 12px;
}

.tagsList li {
    margin-bottom: 6px;
    font-size: 12px;
}


.tagsList li span,
.tagsList li a {
    font-size: 12px;
    font-family: GothaProReg;
}
.tagsList li span {
    font-family: GothaProMed;
}
.eyeIcon {
    background: url(../img/index/sprite2.png) no-repeat 0px 0px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
    line-height: 16px;
    margin-left: 20px;
}

.listIcon {
    background: url(../img/index/sprite2.png) no-repeat -63px 0px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
    line-height: 16px;
    margin-left: 14px;
}

.listIcon:hover {
    text-decoration: underline;
}

.lastProjPublic .blackTextTags {
    color: #282828;
    font-size: 12px;
}

.lastProjPublic {
    color: #394869;
    font-family: GothaProMed;
    margin-top: 16px;
}
footer {
    position: absolute;
    padding-bottom: 14px;
    bottom: 0;
    width: 100%;

}
.footerAll {
    padding-top: 19px;
    position: relative;
}

.footerList .titleFooterList {
    color: #394869;
    font-size: 14px;
    font-family: GothaProMed;
    margin-bottom: 15px;
}

.footerList li {
    font-family: GothaProReg;
    font-size: 13px;
    /*line-height: 19px;*/
    color: #282828;
    margin-bottom: 5px;
}

.footerList .companyFooter {
    color: #b2b2b2;
    font-size: 12px;
    margin-top: 0;
}

.footerList .listSocialLink {
    color: #b2b2b2;
    font-size: 20px;
    width: 33%;
    display: inline-block;
    height: 30px;
    float: left;
    text-align: right;
}

.footerList.socialList {
    text-align: right;
    padding-left: 40px;
}

.footerListMediaCenter:nth-child(3) {
    padding-left: 15px;
}

.footerListMediaCenter:nth-child(4) {
    padding-left: 40px;
}

.listSocialLink.faceBookLink {
    width: 48%;
    text-align: right;
}

.listSocialLink.vkLink {
    text-align: right;
}

.linkToTop {
    position: absolute;
    bottom: 250px;
    right: 0;

}

.iconLincTop {
    display: block;
    width: 43px;
    text-align: center;
    height: 43px;
    border-radius: 50%;
    background-color: #f3f3f3;
    position: relative;
    z-index: -1;
    transition: background-color .3s;
    margin: 0 auto -10px;
}

.iconLincTop img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.linkToTop a {
    color: #b2b2b2;
    font-size: 14px;
    text-decoration: none !important;
}

.navBurgers {
    display: none;
}




/*PRAVKI*/

/*ALL CENTER*/

.wrapper {
    margin: 0 auto;
}



.container {
    width: 100%;
}

.wrapperContent.menu-closed {
    margin-left: 85px;
}


/*LINK TU TOP*/

.linkToTop {
    position: fixed;
    bottom: 200px;
    right: 270px;
    text-align: center;
    z-index: 2000;
    width: 55px;

}


.dopZINdex {
    position: relative;
    z-index: 2;
}

.linkToTop a {
    color: #b2b2b2;
    font-size: 14px;
    text-decoration: none !important;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 46px;
    transition: color .3s;
    font-family: GothaProReg, sans-serif;
}

.linkToTop a:hover .iconLincTop {
    background-color: #0494ca;
}


.twitterLink {
    margin: 12px 0 0 0;
}

.linkedinLink {
    margin: 2px 0 0 0;
}

.googlePlusLink {
    margin: -6px 0 0 0;
}

.faceBookLink {
    margin: 6px 8px 0 0;
}

.vkLink {
    margin: -4px 0 0 0;
}








/*PROFILE*/

.profile-all-block {
    margin-top: 17px;
}

.logo-profile img {
    width: 90px;
    height: 90px;
}

.profile-info-user {
    margin-left: -15px;
    padding-top: 5px;
}

.nameUser {
    font-size: 14px;
    font-family: GothaProBol;
    color: #394869;
}

.nickName {
    color: #b2b2b2;
}

.personal-status {
    color: #282828;
    font-family: GothaProMed;
    font-size: 12px;
}

.personal-status li {
    margin-top: 16px;
    margin-bottom: 16px;
}

.status-days {
    font-family: GothaProBol;
    color: #394869;
}

.status-all-off-on {
    position: relative;
    margin-left: 18px;
}

.status-on {
    color: #0494ca;
}

.status-on:before {
    content: '';
    position: absolute;
    left: -10px;
    margin: auto;
    top: -2px;
    bottom: 0;
    width: 6px;
    height: 6px;
    background-color: #0494ca;
    border-radius: 50%;
}

.status-off {
    color: #bd0851;
}

.status-off:before {
    content: '';
    position: absolute;
    left: -10px;
    margin: auto;
    top: -2px;
    bottom: 0;
    width: 6px;
    height: 6px;
    background-color: #bd0851;
    border-radius: 50%;
}

.all-button-style {
    color: white;
    outline: none !important;
    font-size: 12px;
    font-family: GothaProMed;
    width: 180px;
    height: 30px;
    background-color: #3f4e6e;
    border: none;
    transition: background .3s;
}

.all-button-style:hover {
    background-color: #0494ca;
}

.style-logo-social-all a {
    display: block;
}

.style-logo-social-all a i {
    color: #0494ca;
    opacity: 0.6;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 4px;
    vertical-align: -webkit-baseline-middle;
    transition: opacity .3s;
}

.style-logo-social-all a:hover i {
    opacity: 1;
}

.info-right-all {
    padding-left: 0;
}

.reit-first {
    width: 2px;
    height: 3px;
    border: 1px solid #0494ca;
    display: inline-block;
}
.button-order-redir {
    background: #bd0851;
}
.reit-second {
    width: 2px;
    height: 6px;
    border: 1px solid #0494ca;
    display: inline-block;
    margin-left: -2px;
}
.pro-acc-bying {

}
.block-get-pro-acc {
    display: none;
}
.pro-acc-bying .block-get-pro-acc {
    display: block;
    padding: 15px 40px 15px 24px;
}
.pro-acc-bying .text-added-pro-acc {
    font-family: GothaProMed;
    font-size: 12px;
    line-height: 18px;
}
.pro-acc-bying .text-added-pro-acc a {
    color: #bd0851;
    text-decoration: none;
}
.pro-acc-bying .text-added-pro-acc a:hover {
    text-decoration: underline;
}
.eyeIcon:hover,.executor-name:hover {
    text-decoration: underline;
}
.pro-acc-bying .button-added-pro-acc {
    background: #bd0851;
    margin-top: 12px;
    margin-bottom: 12px;
}
.pro-acc-bying .button-added-pro-acc:hover {
    background: #0494ca;
}
.reit-third {
    width: 2px;
    height: 9px;
    border: 1px solid #0494ca;
    display: inline-block;
    margin-left: -1px;
}

.info-rating {
    font-family: GothaProMed;
    font-size: 12px;
}

.info-reviews {
    font-family: GothaProMed;
    font-size: 12px;
}

.info-rating-count {
    color: #0494ca;
}

.marg-img-rev {
    margin-bottom: -4px;
}

.info-reviews-count-up {
    color: #0494ca;
}

.info-reviews-count-down {
    color: #bd0851;
}

.border-rev-info {
    padding: 7px 24px;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.user-info-com li {
    font-size: 12px;
    font-family: GothaProMed;
    margin-bottom: 12px;
    margin-top: 12px;
}

.user-info-com {
    padding-left: 25px;
    position: relative;
}

.user-info-com li img {
    margin-bottom: -1px;
    margin-right: 8px;
}

.user-info-com:before {
    content: '';
    position: absolute;
    left: 0;
    top: -13px;
    width: 1px;
    height: 60px;
    background-color: #e8e8e8;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}
.tabs-nav-list li {
    display: inline-block;
    /*margin-right: 54px;*/
    cursor: pointer;
    position: relative;
    transition: all .3s;
    text-align: center;
    width: 14.3%;
    margin-left: -4px;
}
.test-icon-tabs {
    background: url("../img/profile/icon-tabs-1.png") no-repeat center;
    width: 18px;
    height: 13px;
    display: block;
}
.tabs-reviews-all .disput {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
.active-link-tabs {
    color: #0494ca;
}
.nav-tabs-img {
    margin-bottom: -2px;
}
.nav-tabs-img.marg-bot-img-nav {
    margin-bottom: -4px;
}
.active-link-tabs .nav-tabs-img {
    display: none;
}
.active-img-tabs {
    display: none;
}
.active-link-tabs .nav-tabs-img.active-img-tabs {
    display: inline-block;
}
.tabs-nav-list li img.marg-bot-img-nav {
    margin-bottom: -4px;
}
.select-city + .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color:  transparent;
}
.select-city + .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    position: relative;
    content: "\f107";
    font-family: FontAwesome, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 20px;
    height: 10px;
    display: block;
    right: 8px;
    top: -9px;
    color: #e8e8e8;
    font-size: 20px;
    margin-top: -3px;
}
.select-city + .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    content: "\f106";
    top: -5px;
    color: #e8e8e8;
    font-size: 20px;
}
.select-city + .select2-container--default .select2-selection--single {
    border-radius: 0;
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
}
.select-tabs-profile .select2.select2-container.select2-container--default,
.select-tabs-profile .select2.select2-container.select2-container--default{
    width: 100% !important;
}
.tabs-nav-list li:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -16px;
    left: 0;
    background: #0494ca;
    opacity: 0;
    display: none;
}
.input-all-style-group.modal-input-code-telephone {
    width: 100%;
    height: 45px;
    max-width: 350px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    font-family: GothaProMed;
    font-size: 14px;
    color: #b2b2b2;
    margin-bottom: 14px;
}
.tabs-nav-list li:hover:before {
    opacity: 1;
    display: block;
}
#confirm-telephone .modal-dialog {
    margin: 30px auto;
}
#confirm-telephone .modal-content {
    border-radius: 0;
}
.tabs-nav {
    margin-top: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;

}
.modal-telephone-return {
    font-family: GothaProMed;
    margin-bottom: 30px;
    line-height: 16px;
    font-size: 12px;
    color: #394869;
}
#confirm-setings .wrapper-dropbox-input {
    display: block;
}
#confirm-setings .wrapper-dropbox-input {
    width: 100%;
    background-color: white;
    border: none;
    z-index: 11;
    padding-top: 10px;
    top: 0;
    position: relative;
}
#confirm-setings .checkbox-control {
    float: left;
    border: none;
    margin-top: 0;
}
#confirm-setings .modal-header {
    padding: 17px 0 14px 0;
}
#confirm-setings .change-filter {
    float: right;
    width: 205px;
    margin-top: 20px;
    transition: all .3s;
    letter-spacing: 1px;
    color: #fff !important;
    text-decoration: none !important;
}
#confirm-setings .change-filter:hover {
    background: #0494ca;
}
#confirm-setings .modal-body {
    padding: 0px 18px 10px 15px;
}
#confirm-setings .checkboxStyle + label {
    margin-right: 10px;
}
#confirm-setings .checkbox-control {
    padding: 21px 0 15px 5px;
}
#confirm-setings .checkbox-control li:first-child {
    margin-bottom: 3px;
}
#confirm-setings .modal-dialog {
    max-width: 420px;
    width: 100%;
}
#confirm-setings .wrapper-dropbox-input .exceptionText {
    padding: 0 0 0 5px;
    margin: 11px 0;
}
#confirm-setings .modal-content {
    border-radius: 0;

}
#confirm-setings .div-inline {
    font-family: GothaProReg;
}
.modal-telephone-return a {
    font-family: GothaProBol;
    color: #0494ca;
    text-decoration: none;
    cursor: pointer;
}
.exit-block {
    color: #fff;
    opacity: 1 !important;
}
#confirm-telephone .buttonFilters.button-create-order:before {
    display: none;
}
#confirm-telephone .buttonFilters.button-create-order {
    background: #0494ca;
}
#confirm-telephone .buttonFilters.button-create-order:hover {
    background: #394869;
}
#confirm-telephone .modal-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    padding: 30px 0 50px 0;
}
#added-proj-modal .modal-dialog {
    max-width: 780px;
    width: 100%;
    background-color: white;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 56px 14px rgba(0, 0, 0, 0.15);
}
#added-proj-modal .modal-content {
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 16px 0 25px 0;
}
#added-proj-modal .modal-title {
    text-align: left;
    color: #394869;
    font-size: 14px;
    font-family: GothaProBol;
}
#added-proj-modal .modal-content .modal-title {
    width: 100%;
    margin-bottom: 4px;
}
#added-proj-modal .left-block-form-modal {
    padding-right: 0;
}
#added-proj-modal .modal-header {
    padding: 7px 20px 6px 19px;
    border-bottom: 1px solid #e5e5e5;
}
#added-proj-modal .exit-block a{
    color: #bd0851;
    font-size: 14px;
    font-family: GothaProBol;
}
.complain-color {
    color: #bd0851;
}
#added-proj-modal .exit-block {
    float: right;
    padding-top: 2px;
}
#added-proj-modal .all-modal-add-proj-input {
    width: 100%;
    height: 35px;
    border: 1px solid #394869;
}
#added-proj-modal .all-modal-add-proj-input::-webkit-input-placeholder {
    color: #282828;
    font-size: 12px;
    font-family: GothaProReg;
}
#added-proj-modal  .project-modal-add-info {
    font-size: 14px;
    color: #282828;
    font-family: GothaProMed;
    margin-top: 19px;
    margin-bottom: 6px;
}
#added-proj-modal .project-modal-add-info .gray-amend {
    color: #b2b2b2;
}
#added-proj-modal .textarea-modal-add-min {
    width: 100%;
    height: 115px;
    border: 1px solid #394869;
    padding: 5px 10px;
}
#added-proj-modal .right-block-form-modal .project-modal-add-info{
    margin-top: 3px;
}
#added-proj-modal .right-block-form-modal {
    padding-right: 67px;
    padding-left: 19px;
}
#added-proj-modal  .img-added-modal-block {
    width: 100%;
    height: 120px;
    background: url("../img/profile/add-img-modal.png") no-repeat center;
}
#added-proj-modal .input-file-block .btn-file {
    border-radius: 0;
    width: 100%;
    color: #fff;
    margin-top: 10px;
    border: none;
    height: 30px;
    background-color: #394869;
    padding: 0;
    margin-bottom: 5px;
}
#added-proj-modal .input-file-block {
    margin-bottom: 0;
}
#added-proj-modal .modal-scrollbar-block {
    width: 100%;
    height: 5px;
    background-color: #e8e8e8;
    border-radius: 2px;
}
#added-proj-modal .some-scroll-background {
    height: 5px;
    background-color: #394869;
    border-radius: 2px;
    width: 96px;
    display: inherit;
}

#added-proj-modal .text-input-file {
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    font-family: GothaProMed;
}
.disput-comment-modal a.limk-mess-h1 {
    font-family: GothaProBol;
}
#added-proj-modal .disput-comment-modal a {
    padding-top: 0;
}
#added-proj-modal .disput-comment-modal {
    margin: 15px 0 17px;
}
#added-proj-modal  .footer-modal-big-textarea {
    width: 100%;
    height: 274px;
    border: 1px solid #394869;
    padding: 5px 10px;
}
#added-proj-modal .modal-dialog {
    margin-top: 30px;
}
.text-title-modal-textarea {
    color: #394869;
    font-size: 16px;
    font-family: GothaProBol;
}
.text-regular-modal-textarea {
    font-family: GothaProReg;
    color: #282828;
    font-size: 14px;
}
.text-medium-modal-textarea {
    font-family: GothaProMed;
    color: #282828;
    font-size: 14px;
}
.text-link-modal-textarea {
    font-family: GothaProMed;
    color: #0494ca;
    font-size: 14px;
}
#added-proj-modal .top-modal-block {
    padding-bottom: 48px;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 4px;
}
#added-proj-modal .footer-modal-block-add-proj {
    padding: 4px 22px 15px 19px;
    position: relative;
}
.this-style-need-delete-1 {
    position: absolute;
    top: 65px;
    left: 30px;
}
.this-style-need-delete-2 {
    position: absolute;
    top: 90px;
    left: 30px;
}
.this-style-need-delete-3 {
    position: absolute;
    top: 112px;
    left: 30px;
}
.this-style-need-delete-4 {
    position: absolute;
    top: 132px;
    left: 30px;
}
.modal-footer-button-block .buttonFilters {
    font-size: 14px;
    color: #fff;
}
.modal-footer-button-block {
    float: left;
    width: 100%;
    max-width: 370px;
    margin-top: 20px;
}
.block-text-count-textarea {
    float: left;
    padding-left: 20px;
    padding-top: 26px;
    color: #b2b2b2;
    font-family: GothaProMed;
}
.blockPAddBorder.non-border {
    padding-bottom: 0;
    border: none;
}

.tabs-content {
    display: none;
}

.tabs-content:first-child {
    display: block;
}

.title-tabs {
    color: #394869;
    font-size: 14px;
    font-family: GothaProMed;
    margin-bottom: 25px;
    padding-top: 30px;
}

.input-all-style-group {
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    margin-right: 6px;
}

.input-all-style-group:last-child {
    margin-right: 0;
}

.title-input-all {
    color: #282828;
    font-size: 14px;
    font-family: GothaProReg;
    margin: 10px 0 6px 0;
}

.input-err-mess {
    display: none;
    color: #bd0851;
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    right: 70px;
    top: 25px;
}

.input-text-group {
    position: relative;
    padding-right: 160px;
    min-width: 440px;
}

.input-err-valid {
    border: 1px solid #bd0851;
}

.input-err-valid + .input-err-mess {
    display: block;
}

.days-input {
    width: 60px;
    height: 30px;
    border: 1px solid #eee;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
}

.mounth-input {
    width: 98px;
    height: 30px;
    border: 1px solid #eee;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
}

.years-input {
    width: 85px;
    height: 30px;
    border: 1px solid #eee;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
}

.text-confirm {
    color: #0494ca;
    font-size: 14px;
    font-family: GothaProMed;
    position: absolute;
    top: 30px;
    right: 54px;
}

.amend-text-controll {
    right: 78px;
}

.text-confirm.gray-amend {
    color: #b2b2b2;
}

.avatar-load-block {
    height: 90px;
    width: 90px;
    background: #f5f5f5;
}

.first-tabs-right {
    padding-top: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    text-indent: 9999px;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-file-block .btn-file{
    width: 347px;
    height: 90px;
    border: 1px solid #394869;
    border-radius: 0;
}

.input-file-block {
    margin-bottom: 25px;
}

.gray-regular-text {
    color: #b2b2b2;
    font-family: GothaProReg;
}

.text-input-file {
    font-size: 14px;
    color: #394869;
    padding-top: 7px;
}

.avatar-load-block {
    position: relative;
}

.avatar-load-block:before {
    content: '';
    position: absolute;
    left: -20%;
    top: 50%;
    width: 125px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: #d9d9d9;
}

.avatar-load-block:after {
    content: '';
    position: absolute;
    left: -20%;
    top: 50%;
    width: 125px;
    height: 1px;
    transform: rotate(45deg);
    background-color: #d9d9d9;
}

.avatar-load-block img {
    position: relative;
    z-index:30;
}

.block-profile-submit {
    margin-top: 30px;
}

.email-notice-link {
    color: #0494ca;
    font-family: GothaProMed;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: underline;
}

.email-notice-link {
    text-decoration: none;
}

.email-notice-link:hover {

}

.gray-amend {
    color: #b2b2b2;
}

.bottom-link-style {
    margin-top: 21px;
}

.button-profile-form {
    width: 263px;
    height: 40px;
    margin-top: 50px;
}

.tabs-content-all {
    padding-bottom: 170px;
}

.basic-information-all {
    padding-top: 30px;
    position: relative;
}

.title-basic-inf {
    color: #282828;
    font-family: GothaProBol;
    font-size: 14px;
    margin-bottom: 10px;
}

.text-basic-inf {
    font-family: GothaProReg;
    color: #282828;
    font-size: 14px;
    line-height: 18px;
}

.link-redact {
    color: #394869;
    font-size: 12px;
    text-decoration: none;
    font-family: GothaProBol;
}

.block-management {
    position: absolute;
    top: 30px;
    right: 0;
}

.text-img-proj {
    color: #d9d9d9;
    font-size: 60px;
    font-family: GothaProBol;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    left: 0;
    right: 0;
}

.img-our-project {
    height: 150px;
    position: relative;
    background-color: whitesmoke;
    margin-top: 10px;
}

.title-addeds-project {
    color: #394869;
    font-size: 14px;
    font-family: GothaProMed;
    padding-bottom: 5px;
    border-bottom: 1px solid #ebebeb;
}

.red-link-proj-inner {
    color: #394869;
    font-size: 12px;
    float: right;
}

.delet-link-proj-inner {
    color: #bd0851;
    font-size: 12px;
    float: right;
    margin-left: 6px;
}

.delet-link-proj-inner:hover,
.red-link-proj-inner:hover {
    text-decoration: underline;
}

.opis-project-style-all {
    padding: 18px 0 18px 20px;
}

.some-project-text {
    color: #282828;
    font-size: 14px;
    line-height: 18px;
    font-family: GothaProReg;
    margin-top: 8px;
}

.content-project-all {
    margin-bottom: 15px;
}

.my-project-all-style {
    padding-top: 30px;
}

.content-accordion-tabs-text .textContentAccord {
    margin-bottom: 0;
}

.your-info-proj {
    color: #0494ca;
    font-size: 12px;
    font-family: GothaProBol;
    padding-left: 30px;
    padding-top: 12px;
}

.block-your-info-proj {
    padding: 8px 21px;
    border: 1px solid #e8e8e8;
    border-top: none;
    position: relative;
}

.your-info-proj:before {
    position: absolute;
    content: '';
    left: 2px;
    top: 7px;
    width: 20px;
    height: 20px;
    background: url("../img/profile/danger.png") no-repeat center;
}

.button-go-to-order {
    width: 142px;
    height: 35px;
    background-color: #394869;
    color: white;
    font-size: 12px;
    border: none;
    font-family: GothaProBol;
    transition: background .3s;
}

.button-go-to-order:hover {
    background-color: #0494ca;
}

.block-your-info-proj-big-padding {
    padding: 17px 21px 13px;
    border: 1px solid #e8e8e8;
    border-top: none;
    position: relative;
}

.min-user-nick {
    font-size: 12px;
}

.min-user-nick img {
    margin-bottom: -2px;
}

.blue-number {
    color: white;
    font-size: 10px;
    font-family: GothaProMed;
    background-color: #0494ca;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.red-number {
    color: white;
    font-size: 10px;
    font-family: GothaProMed;
    background-color: #bd0851;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.nav-reviews li {
    display: inline-block;
}

.positively-rev {
    border: 1px solid #0494ca;
    margin-right: 20px;
}

.positively-rev a {
    display: block;
    padding: 16px;
    color: #0494ca;
    font-size: 14px;
    font-family: GothaProBol;
}

.negative-rev {
    border: 1px solid #e8e8e8;
    padding: 16px;
    transition: border .3s;
}

.negative-rev a {
    padding: 16px;
    font-size: 14px;
    font-family: GothaProBol;
    color: #bd0851;
}

.nav-reviews {
    margin-top: 25px;
    margin-bottom: 38px;
}

.negative-rev:hover {
    border: 1px solid #bd0851;
}

.title-reviews-style {
    color: #0494ca;
    font-family: GothaProMed;
    font-size: 14px;
    margin-bottom: 6px;
}

.marg-style-left {
    margin-left: 1.6%;
}

.some-text-reivews {
    font-family: GothaProReg;
    color: #282828;
    font-size: 14px;
    line-height: 18px;
    padding-left: 70px;
}

.list-reviews-tabs li {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
    margin-top: 20px;
}
.list-reviews-tabs .disput .agree-order_name {
    border: none;
    max-width: calc(100% - 80px);
    padding: 0;
    text-align: left;
    margin: 8px 0 13px;
}
.title-history {
    color: #282828;
    font-size: 14px;
    margin:0 0 28px;
    font-family: GothaProMed;
}

.date-history {
    font-size: 14px;
    color: #394869;
    font-family: GothaProMed;
}

.list-history-operation li {
    margin-bottom: 17px;
}


.enrollment-position {
    font-family: GothaProReg;
    color: #282828;
}

.write-off-position {
    font-family: GothaProReg;
    color: #282828;
}

.summ-write-off {
    font-family: GothaProMed;
    color: #b2094d;
}

.summ-enrollment {
    color: #0494ca;
    font-family: GothaProMed;
}

.block-status-money {
    height: 124px;
    border: 1px solid #e8e8e8;
    width: 100%;
    padding-top: 45px;
}

.balans {
    color: #282828;
    font-size: 14px;
    text-align: center;
    font-family: GothaProBol;
    margin-bottom: 10px;
}

.balans-number {
    color: #0494ca;
    font-size: 18px;
    text-align: center;
    font-family: GothaProBol;
}

.history-operation-all {
    padding-top: 28px;
}

.padding-balans-block {
    padding-left: 50px;
}

.conclude-form {
    padding-top: 18px;
}

.padd-right {
    padding-right: 10px;
}

.padd-left {
    padding-left: 10px;
}

.conclude-input-all {
    width: 100%;
    border: none;
    transition: background .3s;
    height: 40px;
    color: #fff;
    font-family: GothaProMed;
    transition: background .3s;
}

.conclude-input-this {
    background-color: #394869;
    border: 2px solid #394869;
}

.entry-input-this {
    background-color: #0494ca;
    border: 2px solid #0494ca;
}

.services-all {
    padding-top: 28px;
}

.services-pro {
    margin-bottom: 30px;
}

.pro-account {
    color: #bd0851;
    font-size: 24px;
    font-family: GothaProBol;
}

.verification-color {
    color: #f59a16;
}

.img-pro-block {
    height: 250px;
    background-color: #f3f3f3;
    padding-top: 45px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 20px;
}

.payments-1-mounth {
    height: 50px;
    border: 2px solid #bd0851;
    color: #bd0851;
    font-size: 14px;
    font-family: GothaProBol;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
    transition: all .3s;
}
.payments-1-mounth:hover {
    background: #bd0851;
    color: #fff;
}
.payments-3-mounth {
    height: 50px;
    border: 2px solid #394869;
    color: #394869;
    font-size: 14px;
    font-family: GothaProBol;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
    transition: all .3s;
}
.payments-3-mounth:hover {
    background: #394869;
    color: #fff;
}
.payments-3-mounth .sales-text-button,
.payments-1-years .sales-text-button{
    font-size: 10px;
}

.payments-1-years {
    height: 50px;
    border: 2px solid #394869;
    color: #394869;
    font-size: 14px;
    font-family: GothaProBol;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
    transition: all .3s;
}
.payments-1-years:hover {
    background: #394869;
    color: #fff;
}
.services-prof-text {
    padding-top: 15px;
}

.come-serv-prof-text {
    color: #242424;
    font-size: 14px;
    font-family: GothaProReg;
    line-height: 19px;
    margin-bottom: 20px;
}

.conclude-input-this:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #394869;
}

.entry-input-this:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #0494ca;
}

li.active-link-tabs:before {
    display: block;
    opacity: 1;
}

.btn-default {
    transition: background .3s;
}

.profile-page .footerAll {
    border-top: 1px solid #e8e8e8;
}

.project-link-width {
    width: calc(100% - 55px);
    display: inline-block;
}

.redact-and-delet-all {
    display: inline-block;
    min-width: 50px;
}
#podsk-blue .modal-dialog {
    height: 136px;
    width: 350px;
}
#podsk-blue .modal-content {
    border-radius: 0;
    height: 100%;
    background: #0494ca;
    padding: 25px 50px 0 50px;
    position: relative;
    overflow: hidden;
}
.blue-text-modal {
    text-align: center;
    color: #fff;
    font-family: GothaProMed;
    line-height: 17px;
}
.modal-color-button {
    border: 1px solid #fff;
    background: transparent;
    width: 100%;
    height: 30px;
    color: #fff;
    font-family: GothaProReg;
    margin-top: 10px;
}
#podsk-blue .modal-content:before {
    content: '';
    background: url("../img/profile/podsk.png") no-repeat center;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -5px;
    left: -10px;
}
#podsk-blue .exit-block a {
    background: url("../img/profile/exit-pop-color.png") no-repeat center;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}



#podsk-pink .modal-dialog {
    height: 136px;
    width: 350px;
}
#podsk-pink .modal-content {
    border-radius: 0;
    height: 100%;
    background: #bd0851;
    padding: 25px 50px 0 50px;
    position: relative;
    overflow: hidden;
}
#podsk-pink .modal-content:before {
    content: '';
    background: url("../img/profile/podsk.png") no-repeat center;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -5px;
    left: -10px;
}
#podsk-pink .exit-block a {
    background: url("../img/profile/exit-pop-color.png") no-repeat center;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}
#podsk-pink .modal-dialog {
    width: 350px;
    background: #bd0851;
}
.titles-page-project {
    font-size: 24px;
    margin-bottom: 30px;
}
.checkbox-control li a:hover {
    text-decoration: underline;
}
.title-input-added-order {
    color: #252423;
    font-family: GothaProMed;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 15px;
}

.some-input-orders {
    width: 100%;
    height: 35px;
    border: 1px solid #e8e8e8;
}

.order-added-file {
    padding-left: 20px;
}

.order-added-file .input-file-block .btn-file {
    padding-top: 60px;
    margin-top: 20px;
    font-family: GothaProMed;
    height: 185px;
}

.left-select-order {
    padding-left: 0;
    margin-top: 30px;
}

.right-select-order {
    padding-right: 0;
    margin-top: 30px;
}

.textarea-orders textarea {
    resize: vertical;
    width: 100%;
    height: 135px;
    border: 1px solid #e8e8e8;
}

.project-2-titles {
    font-size: 18px;
    margin-bottom: 30px;
}

.project-2-content .titlesAccordionBlock {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.terms-proj {
    font-size: 12px;
    font-family: GothaProMed;
    line-height: 14px;
    color: #282828;
}

.dop-color-text-date {
    color: #bd0851;
}

.terms-proj .iconStyleSize {
    margin-bottom: -3px;
    margin-right: 5px;
}

.multiple-terms-text {
    margin-left: 15px;
}

.dop-size-text-min {
    font-size: 10px;
}

.some-proj-text-opis {
    color: #282828;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: GothaProReg;
    line-height: 18px;
}

.style-project-2 {
    padding: 19px 0 13px 0;
    border: none;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.order-reviews {
    margin-left: 25px;
}

.clip-project {
    color: #282828;
    font-size: 12px;
    font-family: GothaProMed;
    margin-right: 13px;
}

.clip-project .iconStyleSize {
    margin-bottom: -3px;
    margin-right: 5px;
}

.redact-project-link {
    font-family: GothaProMed;
    font-size: 12px;
    color: #0494ca;
    margin-right: 13px;
}

.deleted-project-link {
    color: #bd0851;
    font-size: 12px;
    font-family: GothaProMed;
    margin-right: 13px;
}

.pading-tegs-project {
    padding: 4px 0 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

.answer-title {
    color: #282828;
    font-size: 18px;
    margin: 25px 0 20px 0;
    line-height: 14px;
}

.name-block-answer-top {
    padding: 19px 21px 17px 21px;
    border: 1px solid #e8e8e8;
}

.name-block-answer-top-min-padd {
    padding: 15px 21px 13px 21px;
    border: 1px solid #e8e8e8;
}

.list-date-answer {
    color: #b2b2b2;
    font-size: 12px;
    margin-left: 15px;
    font-family: GothaProMed;
    padding-top: 1px;
}

.block-info-stat {
    text-align: right;
}

.block-info-stat .info-reviews,
.block-info-stat .info-rating {
    margin-left: 10px;
}

.answer-some-text-style {
    color: #282828;
    font-family: GothaProReg;
    font-size: 14px;
    line-height: 18px;
}

.border-top-non {
    border-top: none;
}

.block-answer-dop-img {
    position: relative;
    width: 210px;
    height: 110px;
    background-color: #e8e8e8;
    text-align: center;
    margin: 5px 8px 5px 0;
    border:1px solid #e8e8e8;
}

.block-answer-dop-img-text {
    color: #394869;
    font-size: 18px;
    height: 18px;
    font-family: GothaProBol;
    /*font-size: 36px;*/
    /*height: 36px;*/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.keys-input-file {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
}
.keys-input-file:hover {
    background: transparent;
}
.answer-some-text-style-min {
    color: #282828;
    font-family: GothaProReg;
    font-size: 12px;
    line-height: 18px;
    margin-top: 6px;
}

.min-text-this-12 {
    font-size: 12px;
}

.min-text-this-10 {
    font-size: 10px;
    padding-top: 3px;
}

.name-block-answer-top-min-padd:nth-child(odd) {
    background-color: #f7f7f7;
}

.added-mess-file {
    color: #0494ca;
    font-size: 10px;
    line-height: 14px;
    font-family: GothaProMed;
}

.added-mess-file img {
    margin-bottom: -2px;
    margin-right: 4px;
}

.print-reviews li {
    float: left;
    padding: 16px 0 12px 0;
    font-size: 12px;
    font-family: GothaProBol;
    text-align: center;
    height: 44px;
}

.print-reviews {
    border: 1px solid #e8e8e8;
    border-top: none;
}

.input-print-reviews {
    width: 100%;
    height: 100%;
    outline: none !important;
    padding-left: 12px;
    font-size: 12px;
    font-family: GothaProMed;
    border: none;
}

.print-reviews li:nth-child(1) {
    width: 14%;
    border-right: 1px solid #e8e8e8;
    cursor: pointer;
}

.print-reviews li:nth-child(2) {
    width: 26%;
    border-right: 1px solid #e8e8e8;
}

.print-reviews li:nth-child(3) {
    color: #0494ca;
    width: 30%;
    border-right: 1px solid #e8e8e8;
}

.print-reviews li:nth-child(4) {
    color: #bd0851;
    width: 18%;
    border-right: 1px solid #e8e8e8;
}

.print-reviews li:nth-child(5) {
    width: 12%;
}



.executor-project .print-reviews li:nth-child(2) {
    border-right: none;
    width: 24%;
    border-left: 1px solid #e8e8e8;
    color: #bd0851;
    float: right;
}

.executor-project .print-reviews li:nth-child(1) {
    width: 21%;
    border-left: 1px solid #e8e8e8;
    float: right;
}


.answer-content {
    margin-bottom: 25px;
}

.answer-block-all {
    margin-bottom: 100px;
}

.block-mess-textarea {
    padding: 0;
    /*height: 110px;*/
    height: auto;
}
.sroll-block-keys {
    height: 110px;
    margin-bottom: 30px;
}
.block-mess-textarea .scroll-bar {
    cursor: pointer;
}
.block-mess-textarea .thumb {
    width: 5px !important;
    background: #ddd;
    /*left: 4px;*/
    left: -5px;
    z-index: 20000;
}
.block-mess-textarea .viewport {
    width: 100%;
}
.reviews-blue-count {
    margin-right: 6px;
}

.not-blue-count {
    display: none;
}

.hide-main {
    display: none;
}

.block-mess-textarea textarea,textarea.answer-some-text-style {
    width: 100%;
    height: 110px;
    border: 1px solid #394869;
    resize: none;
    color: #282828;
    font-size: 14px;
    font-family: GothaProReg;
    padding: 8px;
}

.block-mess-textarea textarea::-webkit-input-placeholder,textarea.answer-some-text-style::-webkit-input-placeholder {
    color: #282828;
}

.print-answer-block-all {
    padding-top: 20px;
    /*display: none;*/
}

.mess-answer-file-input-block {
    padding-right: 0;
}

.mess-answer-file-input-block .input-file-block .btn-file {
    height: 110px;
    width: 100%;
    border: 1px solid #394869;
    padding-top: 20px;
}

.mess-answer-file-input-block .text-input-file {
    font-family: GothaProMed;
}

.button-cancellation {
    color: #b2b2b2;
    font-size: 14px;
    width: 195px;
    height: 50px;
    border: 1px solid #e8e8e8;
    background-color: transparent;
    outline: none;
    margin-top: -4px;
    margin-left: 6px;
    transition: all .3s;
}

.button-cancellation:hover {
    background-color: #0494ca;
    color: #fff;
}

.print-answer-block-all .input-file-block {
    margin-bottom: 15px;
}

.right-input-file-download.dropbox label {
    margin-top: 35px;
}

.main-hot-style .hot-order {
    margin-left: -30px;
}

.marg-icon-style {
    margin-bottom: -4px;
}

.hot-project-text {
    color: #394869;
    font-size: 12px;
    font-family: GothaProMed;
    margin-right: 30px;
}

.big-multy-projects {
    color: #282828;
    font-size: 12px;
    font-family: GothaProMed;
}

.min-multy-projects-text {
    font-size: 10px;
    font-family: GothaProMed;
}

.wrap-multiple-marg {
    margin: 30px 0 0 0;
}

.wrap-project-one {
    padding-bottom: 200px;
}

.project-crate-form-style.create-order-form input {
    /*max-width: 100%;*/
    max-width: 620px;
}

.main-max-width {
    max-width: 620px;
}
.project-crate-form-style.create-order-form input.numbers-lead {
    /*max-width: calc(100% - 17px);*/
}

.nameUser .iconNick {
    margin-bottom: -2px;
}

.apply-for-project .buttonFilters {
    height: 50px;
}

.apply-for-project .wrap-coast-lead {
    padding-top: 0;
    padding-right: 0;
}

.apply-for-project .create-order-form .coast-lead-input {
    border: 1px solid #394869;
}

.apply-for-project .coast-lead + .select2-container .select2-selection--single {
    border: 1px solid #394869 !important;
}

.apply-for-project .coast-lead + .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: GothaProReg;
    font-size: 14px;
    font-weight: 400;
    color: #394869;
}

.apply-for-project .coast-lead + .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    color: #394869;
}

.apply-for-project .input-title {
    margin-bottom: 4px;
    margin-top: -4px;
}

.apply-for-project .create-order-form input.coast-lead-input {
    max-width: calc(100% - 92px);
}

.apply-for-project .block-answer-dop-img {
    width: 31.865%;
    margin: 0 10px 5px 0;
}

.apply-for-project .block-answer-dop-img:nth-child(3n) {
    margin-right: 0;
}

.apply-for-project .block-answer-dop-img-text {
    color: #394869;
    font-size: 18px;
    height: 18px;
    font-family: GothaProMed;
}

.apply-for-project .name-block-answer-top {
    margin-bottom: 12px;
    border: 1px solid #e8e8e8;
    padding: 8px;
    font-family: GothaProReg;
    min-height: 200px;
    width: 100%;
}

.block-reviews-avatar-img {
    display: none;
    position: absolute;
    top: -20px;
    left: -22px;
}

.block-reviews-avatar-img img {
    width: 52px;
}

.statick-avatars-reviews .block-reviews-avatar-img {
    display: block;
}

.statick-avatars-reviews .users-all-block-img {
    width: 105px;
}

.statick-avatars-reviews .nameUser{
    padding-left: 40px;
}

.blockPAddBorder.project-3-content-all {
    padding-bottom: 200px;
}

.tagsList.tags-rev-proj-3 {
    margin-bottom: 20px;
}

/*.checked-posit-multiple .checkboxStyle:not(checked) + label:after {*/
    /*top: -4px;*/
/*}*/

.project-2-modal .button-return-order {
    padding: 0 40px;
    width: auto;
}

.hot-order-check-style .checkboxStyle:not(checked) + label:after{
    top: -1.5px;
    left: 1px;
}

/*USERS*/

.block-search-users {

}

.input-search-users {
    color: #394869;
    font-family: GothaProReg;
    font-size: 14px;
    padding: 12px 20px 6px 0px !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid #394869;
    width: 100%;
    max-width: 317px;
    outline: none !important;
}

.input-search-users::-webkit-input-placeholder {
    color: #394869;
    font-family: GothaProReg;
    font-size: 14px;
}

.position-input-search-block {
    position: relative;
    width: auto;
    display: inline;
}

.position-input-search-block i {
    position: absolute;
    top: 0px;
    right: 10px;
    transform: rotateZ(-45deg);
}

.block-search-users {
    text-align: right;
    padding-top: 23px;
    padding-right: 0;
}

.users-all-block-img img {
    width: 90px;
    display: block;
}

.block-users-all-rotate {
    margin-top: 20px;
}

.block-users-all-rotate .name-block-answer-top {
    padding: 0;
}

.block-users-all-rotate .statick-avatars-reviews .nameUser {
    padding: 0 0 0 0;
    margin: 6px 0;
}

.block-users-all-rotate .list-info-users-all {
    padding: 14px 0 14px 100px;
}

.block-users-all-rotate .list-info-users-all li img.marg-user-img-dop {
    margin-bottom: -4px;
}


.block-users-all-rotate  .user-info-com:before {
    display: none;
}

.block-users-all-rotate  .order-reviews {
    padding: 20px 0 14px 20px;
    border: 1px solid #e8e8e8;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.block-users-all-rotate  .info-rating {
    padding: 20px 0 11px 20px;
    border: 1px solid #e8e8e8;
    border-right: none;
    border-top: none;

}

.block-users-all-rotate  .block-info-stat {
    text-align: inherit;
}

.block-users-all-rotate .nameUser .iconNick {
    margin-bottom: -2px;
    margin-right: -3px;
}

.block-users-all-rotate .off-timer-out {
    color: #b2b2b2;
}

.title-dop-knowledge-base h3{
    color: #282828;
    font-size: 18px;
    line-height: 18px;
    font-family: GothaProBol;
    margin: 0;
}

.list-knowledge-base .list-knowledge-base-title {
    color: #394869;
    font-size: 14px;
    line-height: 18px;
    font-family: GothaProBol;
    margin-bottom: 8px;
    padding-left: 33px;
    position: relative;
}

.list-knowledge-base .list-knowledge-base-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    background: url(../img/help/files.png) no-repeat center;
    width: 22px;
    height: 19px;
}

.list-knowledge-base {
    margin: 22px 0;
}

.list-knowledge-base li {
    color: #282828;
    font-size: 12px;
    line-height: 26px;
    font-family: GothaProMed;
    position: relative;
    padding-left: 20px;
}

.list-knowledge-base li a {
    cursor: pointer;
}

.list-knowledge-base li a:hover {
    text-decoration: underline;
}

.knowledge-base-before:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    background: url(../img/help/min-file.png) no-repeat center;
    width: 11px;
    height: 15px;
}

.question-helps .input-question-help {
    font-family: GothaProBol;
    width: 195px;
    height: 35px;
    background-color: #3f4e6e;
    text-align: center;
    padding: 0;
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-top: -10px;
    transition: background .3s;
}

.question-helps {
    text-align: right;
}

.question-helps .input-question-help:hover {
    background: #0494ca;
}

.some-box-question {
    padding: 17px 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
}

.some-box-question a.question-inner-text {
    font-family: GothaProBol;
    color: #282828;
    font-size: 14px;
}

.some-box-question .min-text-this-10 {
    font-size: 10px;
    padding-top: 3px;
}

.tickets-id {
    color: #394869;
    font-size: 14px;
    font-family: GothaProMed;
    text-align: right;
}

.question-inner-text {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    cursor: pointer;
}

.question-inner-text:hover {
    text-decoration: underline;
}

.some-box-question-text {
    padding: 0;
    width: auto;
    max-width: 58%;
}

.float-right-block {
    float: right;
}
.keys-text-count {
    font-family: GothaProReg;
    margin-bottom: 8px;
    font-size: 14px;
}

.modal-help-style .input-all-style-group {
    width: 100% !important;
}
.modal-help-style .modal-help-style+.select2 {
    width: 100%;
}
.wrapper-custom-select .select2{
    width: 100% !important;
}


#create-keys .block-answer-dop-img {
    position: relative;
    width: 210px;
    height: 130px;
    margin: 5px 8px 5px 0;
    border: black;
    text-align: left;
    background: transparent;
}

#create-keys .keys-input-file {
    height: 110px;
}
#create-keys  .exceptionText {
    padding-left: 0;
    overflow: hidden;
    height: 15px;
    width: 100%;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    color: #000;
}

#create-keys .checkboxStyle {
    width: 12px;
    height: 12px;
}


.project-lead .coast-lead + .select2-container {
    margin: 0px 0 0 -7px;
}
.coast-lead + .select2-container {
    margin: 0px 0 0 -7px;
}
.create-order-form input.coast-lead-input {
    float: left;
}
.select2-hidden-accessible {
    float: left;
}

.coast-lead + .select2-container {
    margin: 0px 0 0 -7px !important;
}







