.text-wrap-news .presentation-container {
    font-family: GothaProReg, sans-serif;
    font-size: 15px;
}

.text-wrap-news .presentation-container p {
    line-height: 127%;
    text-align: justify;
    font-size: 105%;
    font-weight: 500;
}

.text-wrap-news .title-news span {
    display: inline-block;
}

div.title-news {
    color: #282828;
    font-family: GothaProBol, sans-serif;
    font-size: 18px;
    padding-top: 0px;
    margin-top: -2px;
    display: inline-block;
    line-height: 1.1;
    box-sizing: border-box;
    font-weight: 500;
}

div.title-news__date {
    color: #394869;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    display: inline-block;
}

div.text-wrap-news .presentation-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/*
.back-to-all-news {
    display: block;
}

.back-to-all-news img, .back-to-all-news span {
    display: inline-block !important;
}*/
