html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
label {
    display: inline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="text"]:focus { outline: none; }
input[type="text"] {
    padding-left: 10px;
}

@font-face {
    font-family: GothaProBla;
    src: url('/themes/leadlance/fonts/GothaProBla.eot');
    src: url('/themes/leadlance/fonts/GothaProBla.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProBla.woff') format('woff'), url('/themes/leadlance/fonts/GothaProBla.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProBla.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProBlaIta;
    src: url('/themes/leadlance/fonts/GothaProBlaIta.eot');
    src: url('/themes/leadlance/fonts/GothaProBlaIta.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProBlaIta.woff') format('woff'), url('/themes/leadlance/fonts/GothaProBlaIta.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProBlaIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProBol;
    src: url('/themes/leadlance/fonts/GothaProBol.eot');
    src: url('/themes/leadlance/fonts/GothaProBol.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProBol.woff') format('woff'), url('/themes/leadlance/fonts/GothaProBol.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProBol.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProBolIta;
    src: url('/themes/leadlance/fonts/GothaProBolIta.eot');
    src: url('/themes/leadlance/fonts/GothaProBolIta.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProBolIta.woff') format('woff'), url('/themes/leadlance/fonts/GothaProBolIta.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProBolIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProIta;
    src: url('/themes/leadlance/fonts/GothaProIta.eot');
    src: url('/themes/leadlance/fonts/GothaProIta.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProIta.woff') format('woff'), url('/themes/leadlance/fonts/GothaProIta.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProLig;
    src: url('/themes/leadlance/fonts/GothaProLig.eot');
    src: url('/themes/leadlance/fonts/GothaProLig.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProLig.woff') format('woff'), url('/themes/leadlance/fonts/GothaProLig.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProLig.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProLigIta;
    src: url('/themes/leadlance/fonts/GothaProLigIta.eot');
    src: url('/themes/leadlance/fonts/GothaProLigIta.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProLigIta.woff') format('woff'), url('/themes/leadlance/fonts/GothaProLigIta.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProLigIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProMed;
    src: url('/themes/leadlance/fonts/GothaProMed.eot');
    src: url('/themes/leadlance/fonts/GothaProMed.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProMed.woff') format('woff'), url('/themes/leadlance/fonts/GothaProMed.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProMed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProMedIta;
    src: url('/themes/leadlance/fonts/GothaProMedIta.eot');
    src: url('/themes/leadlance/fonts/GothaProMedIta.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProMedIta.woff') format('woff'), url('/themes/leadlance/fonts/GothaProMedIta.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProMedIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProNarBol;
    src: url('/themes/leadlance/fonts/GothaProNarBol.eot');
    src: url('/themes/leadlance/fonts/GothaProNarBol.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProNarBol.woff') format('woff'), url('/themes/leadlance/fonts/GothaProNarBol.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProNarBol.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: GothaProNarMed;
    src: url('/themes/leadlance/fonts/GothaProNarMed.eot');
    src: url('/themes/leadlance/fonts/GothaProNarMed.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProNarMed.woff') format('woff'), url('/themes/leadlance/fonts/GothaProNarMed.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProNarMed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothaProReg;
    src: url('/themes/leadlance/fonts/GothaProReg.eot');
    src: url('/themes/leadlance/fonts/GothaProReg.otf');
    src: local('☺'), url('/themes/leadlance/fonts/GothaProReg.woff') format('woff'), url('/themes/leadlance/fonts/GothaProReg.ttf') format('truetype'), url('/themes/leadlance/fonts/GothaProReg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**********VENDOR**********/
.div-inline {
    display: inline-block;
    vertical-align: top;
}
ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.vendorFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.paddingNone {
    padding: 0;
}

.textAlignRight {
    text-align: right;
}

.vertAlignSub {
    vertical-align: sub;
}

.vertAlignBaseline {
    vertical-align: baseline;
}

.vertAlignSuper {
    vertical-align: super;
}

.non-border {
    border: none;
}
.paddingRight {
 padding: 0 20px 0 0;
}
.menu-closed .paddingRight {
    padding: 0 5px 0 0;
}
.menu-closed .paddingRight {
    padding: 0 5px 0 0;
}
.menu-closed .listProjectAll.paddingRight {
    padding: 0;
}

.gritter_success .gritter-item {
    background-color: #3f4e6e !important;
    background-image: none;
}

.gritter_error .gritter-item {
    background-color: #bd0851 !important;
    background-image: none;
}

.float-right {
    float: right;
}

.right20 {
    right:20px !important;
}

.added-mess-file i {
    color: #bd0851 !important;
}

.site-error {
    text-align: center;
}
.error-404 {
    font-size: 100px;
    color: #bd0851;
}
