@media (max-width: 1460px) {
    .wrapperContent {
        margin-left: 265px;
    }

    .wrapper {
        width: 100%;
        overflow-x:  hidden;
    }



    .container {
        width: 98%;
        margin-left: 0;
    }

    .wrapperContent.menu-closed {
        margin-left: 70px;
    }

    .linkToTop {
        right: 20px;
        left: auto;
        margin-right: 0;
    }

}

@media (max-width: 1300px) {
    .wrapperContent {
        margin-left: 260px;
    }

    body.moderator .titlesAccordion {
        max-width: 80%;
    }
    body.moderator .accordionProjectFullBlock .moderator-edit{
        right: -195px;
    }
    .inputFiltersStyle {
        font-size: 12px;
    }

    .tabs-nav-list li {
        margin-right: 50px;
    }
    .hot-order {
        margin-left: 0;
    }
    .button-return-order {
        margin: 7px 0 0 0;
    }

    .project-crate-form-style.create-order-form input.numbers-lead {
        max-width: calc(100% - 17px);
    }

    .dropbox label {
        padding: 65px 45px 0;
        max-width: 100%;
    }
    .create-order-form input {
        max-width: 100%;
    }
    .create-order-form .wrapper-custom-select {
        max-width: 100%;
    }
    .wrapper-description textarea {
        max-width: 100%;
    }
}
@media (max-width: 1050px) and (min-width: 991px) {
    body.moderator .titlesAccordionBlock .col-md-8,
    body.moderator .titlesAccordionBlock .col-md-4{
        width: 100%;
    }
    .crambsTitleAccord {
        text-align: left;
    }
    .menu-open .create-order-form input.coast-lead-input {
        max-width: 150px;
    }
    .menu-open .create-order-form input.numbers-lead {
        max-width: 245px;
    }
    .wrap-coast-lead > div {
        max-width: 251px;
    }
}

@media (max-width: 1199px) {
    body.moderator .accordionProjectFullBlock {
        /*max-width: 90%;*/
    }
    body.moderator .accordionProjectFullBlock .moderator-edit{
        right: -175px;
        width: 155px;
    }
    .navList li {
        display: inline-block;
        margin-right: 13px;
    }

    .checkboxStyle + label {
        margin-right: 5px;
    }

    .exceptionText {
        padding-left: 19px;
        font-size: 12px;
    }

    .tagsFontStyle {
        font-size: 11px;
    }

    .mediaPadding1199 {
        padding: 0;
    }

    .footerListMediaCenter {
        padding: 0;
    }

    .footerList.socialList {
        padding-left: 0;
    }
    .accordionProjectFullBlock.author .accordionContent{
        padding-bottom: 30px;
    }
    .accordionProjectFullBlock.author .author-edit,
    .accordionProjectFullBlock.author .author-remove,
    .accordionProjectFullBlock.author .author-secure{
        bottom: 15px;
        right: auto;
    }

    .accordionProjectFullBlock.author .author-edit{
        left: 22px;

    }
    .accordionProjectFullBlock.author .author-remove{
        left: 125px;
    }
    .accordionProjectFullBlock.author .author-secure{
        left: 260px;
    }

    .info-right-all {
        padding-left: 0px;
    }

    .logo-media-tablet {
        width: 100px;
    }

    .profile-info-user {
        margin-left: 0px;
    }
    .tabs-nav-list li {
        margin-right: 20px;
    }
    .text-media-left {
        margin: 10px 0 0 0;
        text-align: left;
    }
    .print-reviews li:nth-child(1) {
        width: 16%;
    }
    .print-reviews li:nth-child(2) {
        width: 22%;
    }

    .print-reviews li:nth-child(3) {
        width: 38%;
    }

}

@media (max-width: 1070px) {
    .nameUser {
        font-size: 12px;
    }
    .multiple-terms-text {
        margin-left: 0;
        display: block;
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    body.moderator .titlesAccordion {
        max-width: 75%;
    }
    body.moderator .accordionProjectFullBlock {
        max-width: 74%;
    }
    body.moderator .accordionProjectFullBlock .moderator-edit{
        right: -165px;
    }
    .inputFiltersStyle {
        margin-top: 8px;
    }

    .listTags li {
        margin: 0;
    }

    .container {
        width: 97%;
        margin-left: 0;
    }

    .navList {
        margin-bottom: 8px;
    }

    .projectAddedText {
        text-align: left;
    }

    .projectFIlterText {
        text-align: left;
    }

    .buttonsFilterBLock {
        margin-top: 20px;
    }
    .crambsTitleAccord {
        text-align: left;
    }

    .paddingNoneMedia991 {
        padding: 0;
    }

    .footerList {
        margin-bottom: 30px;
    }

    .banerListAll {
        padding: 0;
    }

    .footerList .titleFooterList {
        font-size: 13px;
    }

    .footerList li {
        font-size: 12px;
    }

    .footerList.socialList {
        text-align: center;
        margin-bottom: 20px;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }

    /*.vertAlignSub, .vertAlignBaseline, .vertAlignSuper {*/
        /*vertical-align: inherit;*/
    /*}*/

    .listSocialLink.faceBookLink {
        width: 30%;
        text-align: center;
    }

    .footerList .listSocialLink {
        width: 30%;
    }

    .listSocialLink.vkLink {
        text-align: center;
    }

    .linkToTop {
        bottom: 20px;
    }

    .titlesAccordionBlock {
        padding: 17px 10px 14px;
    }

    .distribLink-left {
        margin-right: 15px;
    }

    .mediaPadding991 {
        padding: 0;
    }

    .listSocialLink.faceBookLink {
        margin: -5px 0 0 23px;
    }

    .listSocialLink.vkLink {
        margin: -12px 0 0 0;
    }

    .footerListMediaCenter:nth-child(3) {
        padding-left: 0;
    }

    .footerListMediaCenter:nth-child(4) {
        padding-left: 20px;
    }
    .wrapper-custom-select a.select-prev{
        top: 27px;
    }
    .wrapper-custom-select a.select-next{
        top: 17px;
    }
    .info-right-all {
        margin-top: 0px;
    }
    .menu-closed .tabs-nav-list li {
        margin-right: 0px;
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }
    .tabs-nav-list li {
        margin-right: 0px;
        font-size: 12px;
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }
    .tabs-nav-list li img {
        margin-left: 4px;
        width: 14px;
    }
    .tabs-nav-list {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .opis-project-style-all {
        padding: 18px 0 18px 0px;
    }
    .button-return-order {
        margin: 7px 0 0 0;
    }
    .create-order-modal .modal-body {
        padding: 15px;
    }
    .create-order-modal .modal-footer {
        text-align: center;
        padding-left: 15px;
    }
    .create-order-modal .modal-footer .button-return-order {
        margin: 7px 0 0 10px;
    }
    .row.agree-order > div{
        text-align: center;
    }
    .row.agree-order > div > div{
        margin: 0 auto;
    }
    .row.agree-order > div > ul{
        margin: 0 auto 30px;
    }
    .create-order-form input.coast-lead-input {
        max-width: calc(100% - 92px);
    }
    .menu-open .create-order-form input.numbers-lead {
        max-width: 100%;
    }
    .order-executive-agree,
    .order-executive-part,
    .order-executive-reject {
        max-width: 100%;
        margin: 5px 0;
    }
    .right-select-order {
        padding: 0;
    }
    .right-select-order,
    .left-select-order {
        padding: 0;
    }
    .order-executive .dropbox label {
        margin-top: 20px;
    }
    .right-select-order {
        margin-top: 15px;
    }

    .project-crate-form-style.create-order-form .wrapper-custom-select {
        margin-top: 0;
    }
    .main-hot-style .hot-order {
        margin-left: 0;
        padding-left: 0;
    }
    .order-executive .crambsTitleAccord {
        margin-top: 10px;
    }
    .text-media-left-991 {
        display: block;
        margin: 10px 0 0 0;
        text-align: left;
    }
    .block-info-stat .info-reviews {
        margin-left: 0;
    }
    .block-answer-dop-img {
        width: 30%;
    }
    .print-reviews li:nth-child(1) {
        width: 23%;
    }
    .print-reviews li:nth-child(2) {
        display: none;
    }
    .print-reviews li:nth-child(3) {
        width: 36%;
    }
    .print-reviews li:nth-child(4) {
        width: 15%;
    }
    .print-reviews li:nth-child(5) {
        width: 23%;
    }
    .mess-answer-file-input-block {
        padding-right: 0;
        padding-left: 0;
    }
    .media-paddimg-991-right {
        padding-right: 15px;
    }
    .print-button-mess-block {
        margin-top: 12px;
    }
    .button-cancellation {
        width: 100%;
        margin-left: 0;
        margin-top: 12px;
    }
    .block-button-cancellation {
        padding-left: 0;
        padding-right: 0;
    }
    .block-mess-textarea textarea {
        margin-bottom: 6px;
    }
}

@media (max-width: 767px) {
    body.moderator .accordionProjectFullBlock {
        max-width: 100%;
    }
    body.moderator .titlesAccordion {
        max-width: 100%;
    }
    body.moderator .accordionProjectFullBlock .moderator-edit {
        position: static;
        right: auto;
        top: 0;
        width: 100%;
        max-width: 275px;
        margin-top: 15px;
    }
    .tabs-nav-list {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .menu-closed .tabs-nav-list li,
    .tabs-nav-list li {
        margin-right: 0px;
        font-size: 12px;
        padding-left: 2px;
        padding-right: 2px;
        width: auto;
        margin: auto;
    }
    .wrapperContent {
        margin-left: 65px;
    }

    .wrapperContent.menu-closed {
        margin-left: 65px;
    }

    .navList {
        margin: 0 auto;
        display: none;
        position: absolute;
        right: 10px;
        top: 0;
        background: #fff;
        z-index:3;
        border-bottom: 1px solid #ccc;
    }

    .navAll {
        margin-top: 20px;
    }

    .navList li {
        display: inline-block;
        margin: 7px auto;
        width: 100%;
        text-align: right;
    }

    .navBurgers {
        display: block;
        position: relative;
        float: right;
        right: 15px;
        top: -8px;
        z-index: 100;
        font-size: 20px;
    }

    .projectAddedText {
        text-align: right;
        margin-top: 16px;
    }

    .distribLink-left {
        font-size: 10px;
        padding: 6px 6px 3px;
        margin-right: 0;
    }

    .arrowOutline {
        font-size: 12px;
        padding: 3px 9px 2px;
    }

    .distribLink i {
        height: 7px;
    }

    .tagsClose {
        margin-right: 4px;
    }

    .filtersForm {
        margin-top: 10px;
    }
    .titlesAccordion {
        display: inline;
        vertical-align: top;
    }
    .titlesAccordion {
        display: inline-block;
        vertical-align: top;
    }

    .footerList {
        margin-bottom: 30px;
    }

    .banerListAll {
        display: none;
    }

    .socialList .titleFooterList {
        text-align: center;
    }

    .footerList.socialList {
        margin-bottom: 80px;
    }

    .listSocialLink.faceBookLink,
    .listSocialLink.vkLink {
        text-align: center;
    }

    .socialList {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footerList li {
        text-align: center;
    }

    .row {
        margin-right: 0;
    }

    .paddingRightNone {
        padding-right: 0;
    }

    .titlesAccordion {
        font-size: 13px;
    }

    .accordionContent {
        padding: 10px 8px;
    }

    .footerListMediaCenter:nth-child(4) {
        padding-left: 0;
    }
    .accordionProjectFullBlock.author .author-edit{
        left: 10px;
    }
    .accordionProjectFullBlock.author .author-remove{
        left: 115px;
    }
    .accordionProjectFullBlock.author .author-secure{
        left: 250px;
    }

    .profile-info-user {
        margin-left: 0;
    }
    .border-rev-info {
        padding: 7px 0;
        border: none;
    }
    .user-info-com {
        padding-left: 3px;
    }
    .user-info-com:before {
        display: none;
    }
    .info-rating {
        padding-left: 3px;
    }
    .reit-third {
        margin-right: 3px;
    }
    .user-info-com li img {
        margin-right: 6px;
    }
    .user-info-com li {
        margin-top: 2px;
    }
    .opis-project-style-all {
        padding: 18px 0 18px 0px;
    }
    .content-project-all {
        margin-bottom: 0px;
    }
    .button-go-to-order {
        margin-top: 12px;
    }
    .nameUser,.your-info-proj {
        font-size: 10px;
    }
    .project-crate-form-style.create-order-form input.numbers-lead {
        max-width: 100%;
    }
    .project-2-titles {
        margin-bottom: 6px;
    }
    .crambsTitleAccord {
        margin-bottom: 10px;
    }
    .crambsTitleAccord li a {
        font-size: 12px;
    }
    .print-reviews li {
        display: block;
        float: none;
        width: 100% !important;
        text-align: left;
        padding: 6px 0 12px 21px;
        height: auto;
    }
    .print-reviews li:nth-child(1),
    .print-reviews li:nth-child(3),
    .print-reviews li:nth-child(4) {
        border: none;
    }
    .print-reviews li:nth-child(2) {
        display: none;
    }
}
@media (max-width: 600px) {
    .tabs-nav-list {
        display: block;
    }
    .menu-closed .tabs-nav-list li, .tabs-nav-list li {
        display: block;
        margin-bottom: 14px;
        font-size: 14px;
    }
    .tabs-nav-list li:before {
        display: none !important;
    }
    .tabs-nav-list li img {
        width: auto;
    }
}
@media (max-width: 590px) {
    .info-right-all {
        margin-top: 20px;
        width: 100%;
    }

    .media-logo-all-block {
        width: 100%;
    }

    .project-link-width {
        margin-bottom: 5px;
    }
}
@media (max-width: 550px) {
    .hot-order.exceptionText {
        padding-top: 0;
        margin-top: -12px;
    }
    .clip-project,
    .redact-project-link,
    .deleted-project-link {
        display: block;
        margin-bottom: 4px;
    }
    .project-2-content .order-reviews {
        display: block;
        margin-left: 0;
        margin-top: 6px;
    }
    .list-date-answer {
        display: block;
        margin: 4px 0 0 0;
    }
    .name-block-answer-top,.name-block-answer-top-min-padd,.print-reviews li {
        padding: 6px 6px 8px 6px;
    }
    .print-reviews li {
        font-size: 10px;
    }
    .wrap-coast-lead > div {
        max-width: 100%;
    }
    .wrap-coast-lead > div input.last-time-day {
        width: 26%;
    }
    .wrap-coast-lead > div input.last-time-month {
        width: 46%;
    }
    .wrap-coast-lead > div input.last-time-year {
        width: 25%;
    }
}
@media (max-width: 550px) {
    .block-answer-dop-img {
        width: 210px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 475px) {

    .create-order-form input.numbers-lead {
        max-width: 235px;
    }
    .coast-lead + .select2-container {
        width: 90px !important;
    }
    .hot-order.exceptionText {
        padding: 0;
        margin-top: -12px;
        line-height: 19px;
    }
    /*.wrap-coast-lead > div input.last-time-day{*/
        /*width: 50px;*/
    /*}*/
    /*.wrap-coast-lead > div input.last-time-month{*/
        /*width: 88px;*/
    /*}*/
    /*.wrap-coast-lead > div input.last-time-year{*/
        /*width: 75px;*/
    /*}*/
    .wrap-coast-lead .beforeIcon1:before {
        top: -3px;
    }
}
@media screen and (max-width: 450px) {
    .lastProjPublic-link {
        display: block;
        margin: 5px auto;
    }
    .project-2-content .lastProjPublic-link {
        display: inline-block;
        margin: 5px auto;
    }
    .pagination li {
        margin: 0 -3px;
    }

    .footerListMediaCenter {
        width: 100%;
        text-align: center;
    }
    .next-desc{
        display: none;
    }
    .next-mob {
        display: block;
    }
    .projectFIlterText p {
        font-size: 13px;
    }

    .eyeIcon {
        margin-left: 0;
    }
    .accordionProjectFullBlock.author .author-secure{
        left: 10px;
        bottom: 0px;
    }
    .title-basic-inf {
        margin-bottom: 20px;
    }
    .block-management {
        position: relative;
        top: -16px;
        right: auto;
    }
    .agree-order_name .role {
        display: block;
        margin: 5px;
    }
    .order-executive .agree-order_reit {
        margin: 5px 0 0;
    }
    .order-executive .number-one {
        top: 36px;
    }
    .create-order-form input.coast-lead-input {
        max-width: calc(100% - 87px);
    }
}

@media (max-width: 350px) {
    .block-your-info-proj .gray-amend {
        display: block;
    }
}

@media (max-height: 570px) {
    .wrapperNav {
        /*overflow-y: scroll;*/
        height: 100%;
    }

    .overview {
        width: 100%;
    }

    .scrollable.default-skin {
        padding-right: 0;
    }
}