.exit-block {
    float: right;
    padding-top: 2px;
}
.all-modal-add-proj-input {
    width: 100%;
    height: 35px;
    border: 1px solid #394869;
}
.all-modal-add-proj-input::-webkit-input-placeholder {
    color: #282828;
    font-size: 12px;
    font-family: GothaProReg;
}
 .project-modal-add-info {
    font-size: 14px;
    color: #282828;
    font-family: GothaProMed;
    margin-top: 19px;
    margin-bottom: 6px;
}
.project-modal-add-info .gray-amend {
    color: #b2b2b2;
}
.textarea-modal-add-min {
    width: 100%;
    height: 115px;
    border: 1px solid #394869;
    padding: 5px 10px;
}
.right-block-form-modal .project-modal-add-info{
    margin-top: 3px;
}
.right-block-form-modal {
    padding-right: 67px;
    padding-left: 19px;
}
 .img-added-modal-block {
    width: 100%;
    height: 120px;
    background: url("../img/profile/add-img-modal.png") no-repeat center;
}
.input-file-block .btn-file {
    border-radius: 0;
    width: 100%;
    color: #fff;
    margin-top: 10px;
    border: none;
    height: 30px;
    background-color: #394869;
    padding: 0;
    margin-bottom: 5px;
}
.input-file-block {
    margin-bottom: 0;
}
.modal-scrollbar-block {
    width: 100%;
    height: 5px;
    background-color: #e8e8e8;
    border-radius: 2px;
}
.some-scroll-background {
    height: 5px;
    background-color: #394869;
    border-radius: 2px;
    width: 96px;
    display: inherit;
}

.text-input-file {
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    font-family: GothaProMed;
}