/*main left nav*/
.wrapperNav {
    width: 245px;
    position: fixed;
    z-index:5;
    min-height: 100%;
    background-color: #3f4e6e;
}
.blockTitleName {
    background: #394869;
    padding: 19px 23px;
}
.titleName .fullLogo {
    display: inline-block;
}
.person {
    padding: 20px;
}
.person-photo-wrap {
    width: 56px;
    height: 56px;
    border: 1px solid #fff;
    position: relative;
    z-index:0;
}
.person-photo-wrap .person-photo{
    width: 100%;
}
.person-photo-wrap .person-status,
.person-photo-wrap .person-test {
    position: absolute;
    z-index: 1;
    top: -5px;
}
.person-photo-wrap .person-test {
    right: -1px;
}
.person-photo-wrap .person-status {
    right: 10px;
}
.person-info {
    padding: 12px 0 0 8px;
}
.person-name {
    font-family: GothaProReg, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff !important;
}
.person-active {
    color: white;
    font-family: GothaProReg, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
}
.person-active li{
    margin-left: 12px;
}
.person-active li:last-child{
    margin-left: 28px;
}
.person-rait,
.person-message {
    display: block;
    position: relative;
    z-index:0;
    color: #fff !important;
    text-decoration: none;
}
.person-rait:hover,
.person-message:hover,
.logout-text:hover,
.person-name:hover{
    text-decoration: underline;
}

.logout-text {
    color: #fff !important;
}
.person-rait:before,
.person-message:before {
    content: '';
    position: absolute;
    z-index:0;
    display: block;
}
.person-rait:before{
    left: -12px;
    bottom: 2px;
    width: 7px;
    height: 9px;
    background: url("/themes/leadlance/img/index/person-rait.png") no-repeat;
}
.person-message:before {
    left: -19px;
    bottom: -1px;
    width: 15px;
    height: 12px;
    background: url("/themes/leadlance/img/index/person-message.png") no-repeat;
}
.logout-wrap {
    padding-top: 7px;
}
.logout {
    padding-left: 13px;
    display: block;
    position: relative;
    z-index:0;
    color: #fff;
    font-family: GothaProReg, sans-serif;
    font-size: 12px;
    font-weight: 400;
    min-height: 12px;
}
.logout:before {
    display: block;
    position: absolute;
    z-index:1;
    content: '';
    width: 8px;
    height: 13px;
    left: 0;
    bottom: -2px;
    background: url("/themes/leadlance/img/index/logout.png") no-repeat;
}
.logout-button {
    background: transparent;
    border: none;
}
.left-menu-toogle {
    margin: 20px -20px 0;
    border-top: 1px solid #394869;
}
.left-menu-toogle>li{
    border-bottom: 1px solid #394869;
    transition: background-color .3s;
}
.left-menu-toogle>li:hover {
    background-color: #394869;
}
.left-menu-toogle>li>a:first-child{
    display: inline-block;
    vertical-align: top;
    padding: 21px 0 17px 20px;
    color: #fff;
    font-family: GothaProReg, sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    z-index:0;
}
.left-menu-toogle>li a.active{
    border-left: 2px solid #0494ca;
    padding: 21px 0 17px 18px;
}
.left-menu-toogle>li>a:first-child .left-menu-icon{
    display: inline-block;
    left: 20px;
    bottom: 17px;
    margin-right: 10px;
}
.left-menu-toogle>li a.active:before{
    left: 18px;
}
.left-menu-toogle li a.menu-profile .left-menu-icon{
    background: url("/themes/leadlance/img/index/menu-profile.png") no-repeat;
    width: 15px;
    height: 17px;
    margin-bottom: -3px;
}
.left-menu-toogle li a.menu-projects .left-menu-icon{
    background: url("/themes/leadlance/img/index/menu-projects.png") no-repeat;
    width: 15px;
    height: 17px;
    margin-bottom: -3px;
}
.left-menu-toogle li a.menu-orders .left-menu-icon{
    background: url("/themes/leadlance/img/index/icon-copy-meny.png") no-repeat;
    width: 16px;
    height: 14px;
}
.left-menu-toogle li a.menu-messages .left-menu-icon{
    background: url("/themes/leadlance/img/index/menu-messages.png") no-repeat;
    width: 15px;
    height: 14px;
    margin-bottom: -2px;
}
.left-menu-toogle li a.menu-invoice .left-menu-icon{
    background: url("/themes/leadlance/img/index/menu-invoice.png") no-repeat;
    width: 15px;
    height: 14px;
}
.left-menu-toogle li a.menu-settings .left-menu-icon{
    background: url("/themes/leadlance/img/index/menu-settings.png") no-repeat;
    width: 19px;
    height: 21px;
    margin-bottom: -5px;
}
.left-menu-toogle li a.menu-settings.active .left-menu-icon{
    left: 16px;
}
.left-menu-toogle>li a span.menu-counter, .left-menu-toogle>li a span.menu-counter-red {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: white;
    font-family: GothaProMed, sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
}
.left-menu-toogle>li a.menu-projects span.menu-counter,
.left-menu-toogle>li a.menu-messages span.menu-counter{
    background-color: #0494ca;
}
.left-menu-toogle>li a.menu-orders span.menu-counter{
    background-color: #bd0851;
}
.left-menu-toogle>li a.menu-orders #menu-counter-orders-messages{
    background-color: #0494ca;
}


.left-menu-toogle>li a.menu-orders span.menu-counter-red{
    background-color: #bd0851;
}
.left-menu-toogle>li a.menu-projects span.menu-counter-red{
    background-color: #bd0851;
}
.submenu-dropdown {
    display: block;
    width: 46px;
    text-align: center;
    padding: 20px 0 19px;
    color: #fff;
    font-size: 14px;
    float: right;
    border-left: 1px solid #394869;
    margin-left: -46px;
}
.submenu-dropdown:active,
.submenu-dropdown:focus,
.submenu-dropdown:hover {
    color: #fff;
}
.menu-dropdown{
    display: none;
}
.menu-dropdown li{
    background-color: #475c87;
    border-top: 1px solid #394869;
}
.menu-dropdown a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-family: GothaProReg, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.menu-dropdown span:hover {
    text-decoration: underline;
}
.menu-dropdown span.submenu-text{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 172px;
    padding-right: 5px;
}
.menu-dropdown span.submenu-counter{
    color: #0494ca;
    font-family: GothaProBla, sans-serif;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
}

.menu-dropdown span.submenu-counter-red{
    color: #bd0851;
    font-family: GothaProBla, sans-serif;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
}
.toogle-menu-btn {
    display: block;
    color: #848da2;
    font-family: GothaProReg, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.toogle-menu-btn:hover,
.toogle-menu-btn:focus {
    color: #848da2;
}
.toogle-menu-img {
    background: url("/themes/leadlance/img/index/toggle-menu.png") no-repeat;
    width: 17px;
    height: 9px;
    display: inline-block;
    vertical-align: top;
    margin:2px 10px 0 0;
}
/*main left nav closed*/
.index-title {
    padding-top: 13px;
}
.wrapper-custom-select .listTags {
    margin-top: -15px;
}

.wrapperNav.closed{
    width: 55px;
}
.wrapperNav.closed .fullLogo,
.wrapperNav.closed .person-info,
.wrapperNav.closed .logout-text,
.wrapperNav.closed .left-menu-toogle .submenu-dropdown,
.wrapperNav.closed .left-menu-toogle .menu-text,
.wrapperNav.closed .toggle-menu-text {
    display: none;
}

.wrapperNav.closed .person-photo-wrap {
    width: 56px;
    height: 56px;
    margin-left: -21px;
    border: none;
}
.wrapperNav.closed .person-photo-wrap .person-test {
    right: 0;
}
.wrapperNav.closed .person-photo-wrap .person-status {
    right: 11px;
}
.wrapperNav.closed .logout:before {
    bottom: -2px;
}
.wrapperNav.closed .left-menu-toogle>li {
    height:55px;
    position: relative;
}
.wrapperNav.closed .left-menu-toogle>li a:first-child {
    padding-left: 20px;
}
.wrapperNav.closed .left-menu-toogle>li a.active {
    padding-left: 18px;
}

.wrapperNav.closed .left-menu-toogle>li a span.menu-counter {
    position: absolute;
    z-index:1;
    top: 19px;
    left: 25px;
}
.wrapperNav.closed .left-menu-toogle>li a.active span.menu-counter {
    top: 19px;
    left: 23px;
}

/*main left nav closed*/

/*main left nav*/

/*pagination*/
.pagination {
    width: 100%;
}
.pagination li {
    display: inline-block;
    margin: 0 2px;
    /*border: 1px solid #e8e8e8;*/
}
.pagination li a{
    color: #b2b2b2;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 0;
    border: 1px solid #ddd;
    min-width: 34px;

}
.pagination li.active {

}
.pagination li.active a {
    color: #394869;
    background-color: #fff;
    border: 1px solid #394869;
}

.pagination li.active a:hover {
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #ddd;

}
.pagination li a:hover {
    background-color: #337ab7;
    color: #eee;
    border: 1px solid #337ab7;

}

.pagination {
    text-align: center;
}
.pagination li:first-child{
    float: left;
}
.pagination li:last-child{
    float: right;
}
.pagination.only-next {
    text-align: left;
}
.pagination.only-next li:first-child{
    display: none;
}
.pagination.only-next li:last-child{
    float: right;
}
.pagination.only-prev{
    text-align: right;
}
.pagination.only-prev li:first-child{
    float: left;
}
.pagination.only-prev li:last-child{
    display: none;
}
.pagination li:first-child img{
    transform: rotate(180deg);
}
.next-mob {
    display: none;
}
/*pagination*/

/*select*/
.wrapper-custom-select {
    position: relative;

}
.custom-select {
    background-color: #fff;
    border: none;
    width: 100%;
    height: 0;
    opacity: 0;
}
.wrapper-custom-select .inputFiltersStyle {
    background: none;
    position: relative;
    top:-15px;
}
.wrapper-custom-select a.select-next,
.wrapper-custom-select a.select-prev{
    position: absolute;
    z-index:10;
    right: 10px;
    font-size: 18px;
}
.wrapper-custom-select a.select-prev{
    top: 20px;
}
.wrapper-custom-select a.select-next{
    top: 10px;
}
.wrapper-dropbox-input {
    display: none;
    position: absolute;
    width: 222px;
    min-height: 384px;
    background-color: white;
    border: 1px solid #e8e8e8;
    z-index: 11;
    padding-top: 10px;
    top:-80px;
}
.wrapper-dropbox-input .exceptionText {
    padding: 0 0 0 24px;
    color: #282828;
    font-family: GothaProReg, sans-serif;
    font-size: 12px;
    margin: 11px 0;
}
.wrapper-dropbox-input .checkboxStyle:not(checked) + label:after {
    top: -1px;
}
.checkbox-control {
    border-top: 2px solid #e8e8e8;
    margin-top: 17px;
    padding: 10px 0 10px 21px;
}
.checkbox-control li:first-child{
    margin-bottom: 10px;
}
.checkbox-control a{
    color: #282828;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
}
.change-filter {
    display: block;
    width: 100%;
    height: 35px;
    text-align: center;
    text-decoration: none;
    background: #394869;
    color: white;
    font-family: GothaProBol, sans-serif;
    font-size: 12px;
    padding-top: 12px;
}
.change-filter:hover {
    color: white;
}
/*select*/

/*
*Order page
*/
.page-titles {
    font-family: GothaProBol, sans-serif;
    font-size: 24px;
    margin: 27px 0 30px;
}
.create-order-form input {
    width: 100%;
    max-width: 620px;
    height: 35px;
    border: 1px solid #e8e8e8;
    font-size: 15px;
}
.input-title {
    color: #252423;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    margin-bottom: 7px;
}
.create-order-form .wrapper-custom-select {
    margin-top: 0;
    max-width: 620px;
}
.create-order-form .wrapper-custom-select.order-select {
    margin-top: 28px;
}
.create-order-form .wrapper-custom-select input{
    height: 45px;

}
.create-order-form .wrapper-custom-select .listTags{
    margin-top: -10px;
}
.dropbox label{
    display: block;
    width: 100%;
    max-width: 294px;
    height: 185px;
    border: 1px solid #394869;
    padding: 65px 50px 0;
    text-align: center;
    margin-top: 21px;
    cursor: pointer;
}
.dropbox label span{
    display: block;
}
.dropbox input{
    display: none;
}

.dropbox-mini label, .dropbox-mini label span {
    display: block;
}

.dropbox-mini input{
    display: none;
}

.dropbox-mini label {
    width: 100%;
    max-width: 294px;
    text-align: center;
    cursor: pointer;
}

.download-text {
    font-family: GothaProReg, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #394869;
    margin-bottom: 3px;
}
.download-size {
    font-family: GothaProReg, sans-serif;
    font-size: 14px;
    color: #b2b2b2;
}

.download-size-mini {
    font-family: GothaProReg, sans-serif;
    font-size: 14px;
    color: #b2b2b2;
    display: inline-block;
}

.wrapper-description {
    margin-top: 25px;
}
.wrapper-description textarea{
    width: 100%;
    max-width: 620px;
    height: 135px;
    border: 1px solid #e8e8e8;
    resize: none;
    padding: 8px;
}

.create-order-form input.coast-lead-input {
    width: 100%;
    max-width: 268px;
    height: 35px;
    border: 1px solid #e8e8e8;
    padding-left: 10px;
}
.coast-lead + .select2-container {
    width: 95px !important;
    height: 35px !important;
    margin: -8px 0 0 -7px;

}
.project-crate-form-style .coast-lead + .select2-container {
    margin-top: -1px;
}
.coast-lead + .select2-container .select2-selection--single {
    height: 35px;
    border-color: #e8e8e8 !important;
    border-radius: 0;
}
.coast-lead + .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #b2b2b2;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    line-height: 37px;
}
.coast-lead + .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color:  transparent;
}
.coast-lead + .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    position: relative;
    content: "\f107";
    font-family: FontAwesome, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 20px;
    height: 10px;
    display: block;
    right: 8px;
    top: -9px;
    color: #e8e8e8;
    font-size: 20px;
}
.coast-lead + .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    content: "\f106";
    top: -5px;
    color: #e8e8e8;
    font-size: 20px;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 0;
    border-color: #e8e8e8;
}
.wrap-coast-lead {
    padding-top: 28px;
}
.wrap-coast-lead > div {
    width: 100%;
    max-width: 270px;
}
.hot-order {
    margin-left: -28px;
}
.hot-order.exceptionText {
    padding: 26px 0 0 16px;
    color: #282828;
    font-size: 12px;
}
.hot-order.exceptionText .checkboxStyle + label {
    margin-right: 6px;
}
.wrap-coast-lead > div label{
    display: inline-block;
    vertical-align: top;
}
.wrap-coast-lead > div input{
    text-align: center;
    color: #b2b2b2;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    padding-left: 0;
}
.wrap-coast-lead > div input.last-time-day{
    width: 60px;
}
.wrap-coast-lead > div input.last-time-month{
    width: 98px;
}
.wrap-coast-lead > div input.last-time-year{
    width: 85px;
}
.wrap-coast-lead > div .input-title{
    color: #bd0851;
}
.create-order-form input.numbers-lead {
    max-width: 360px;
}

.agree-order {
    margin-top: 48px;
}
.button-create-order.buttonFilters {
    width: 100%;
    max-width: 360px;
    height:40px;
}
.button-return-order {
    color: #b2b2b2;
    font-family: GothaProBol, sans-serif;
    font-size: 14px;
    width: 100%;
    max-width: 338px;
    height: 40px;
    border: 1px solid #e8e8e8;
    background: #fff;
    margin: 7px 0 0 -10px;
    transition: background, color .3s;
}
.button-return-order:hover {
    background-color: #0494ca;
    color: #fff;
}
.hover-text-decoration:hover {
    text-decoration: underline;
    cursor: pointer;
}
.agree-order_name {
    border: 1px solid #e8e8e8;
    border-top: none;
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 18px 0 16px;
}
.agree-order_name .name {
    font-family: GothaProBol, sans-serif;
    font-size: 12px;
    color: #394869;
}
.agree-order_name .nickname {
    font-family: GothaProBol, sans-serif;
    font-size: 12px;
    color: #b2b2b2;
}
.agree-order_name .role{
    font-family: GothaProBol, sans-serif;
    font-size: 12px;
    color: #b2b2b2;
    padding-right: 5px;
}
.agree-order_name .date{
    color: #b2b2b2;
    font-family: GothaProMed, sans-serif;
    font-size: 10px;
    padding-left: 10px;
}
.agree-order_name img{
    margin-bottom: -2px;
}
.agree-order_reit {
    border: 1px solid #e8e8e8;
    border-top: none;
    width: 100%;
    max-width: 360px;
    text-align: center;
    margin-bottom: 30px;
}
.agree-order_reit li{
    padding: 18px 0 16px;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    text-align: center;
}
.agree-order_reit li:first-child{
    border-right: 1px solid #e8e8e8;;
}
.agree-order_reit li .text{
    color: #282828;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
}
.agree-order_reit li .blue-link{
    color: #0494ca;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
}
.agree-order_reit li .red-link{
    color: #b2094d;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
}
.agree-order_reit li .reviews-img{
    margin-bottom: -3px;
}
.modal-backdrop {
    background-color: transparent;
}

.create-order-modal {
    width: 100%;
    max-width: 780px;
    -webkit-box-shadow: 0 0 56px 14px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 56px 14px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 56px 14px rgba(0, 0, 0, 0.15);
}
.modal-dialog {
    -webkit-box-shadow: 0 0 56px 14px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 56px 14px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 56px 14px rgba(0, 0, 0, 0.15);
}
.modal-title {
    text-align: center;
    color: #394869;
    font-family: GothaProBol, sans-serif;
    font-size: 14px;
}
.create-order-modal .modal-subtitle {
    color: #394869;
    font-size: 14px;
    line-height: 20px;
    font-family: GothaProMed, sans-serif;
}
.create-order-modal .modal-body {
    padding: 30px 80px 0 30px;
}
.create-order-modal .modal-body .modal-bold-text {
    font-family: GothaProMed, sans-serif;
    color: #282828;
    font-size: 12px;
    line-height: 18px;
}
.create-order-modal .modal-body .modal-list {
    font-family: GothaProReg, sans-serif;
    color: #282828;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
}
.create-order-modal .modal-body .modal-text {
    font-family: GothaProReg, sans-serif;
    color: #282828;
    font-size: 12px;
    line-height: 18px;
}
.create-order-modal .modal-footer {
    text-align: left;
    padding-left: 30px;
}
.create-order-modal .modal-footer .button-return-order {
    margin: 7px 0 0 20px;
}

/*
*Order page
*/

/*
*Order executive page
*/
.you-executive-title {
    border: 1px solid #0494ca;
    text-align: center;
    padding: 13px 0;
    color: #0494ca;
}
.you-executive-title.grey {
    border: 1px solid #394869;
    color: #394869;
}
.you-executive-title.lightgrey {
    border: 1px solid #b2b2b2;
    color: #b2b2b2;
}
.you-executive-title.red{
    border: 1px solid #bd0851;
    color: #bd0851;
}

.you-executive-title .attention{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #0494ca;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
}
.you-executive-title.grey .attention{
    border: 1px solid #394869;
}
.you-executive-title.lightgrey .attention{
    border: 1px solid #b2b2b2;
}
.you-executive-title.red .attention{
    border: 1px solid #bd0851;
}
.attention-text,
.result-disput {
    display: inline-block;
    vertical-align: top;
    font-family: GothaProBol, sans-serif;
    font-size: 12px;
    padding: 6px 0 0 10px;
}
.result-disput {
    color: #bd0851;
}

.order-executive .titlesAccordionBlock {
    border: none;
}
.order-executive .titlesAccordionBlock h3{
    border: none;
    font-family: GothaProBol, sans-serif;
    font-size: 18px;
    color: #394869;
}
.last-date-text {
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #282828;
    margin-top: 10px;
}
.last-date.date {
    color: #bd0851;
}
.order-executive-body {
    color: #282828;
    font-family: GothaProReg, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.order-executive-body p{
    margin-bottom: 25px;
}
.text-block {
    display: block;
}
.order-executive-agree,
.order-executive-part,
.order-executive-reject {
    background: #fff;
    font-family: GothaProBol, sans-serif;
    font-size: 14px;
    height: 40px;
    width: 100%;
    vertical-align: top;
}
.order-executive-agree {
    background-color: #0494ca;
    border: 1px solid #0494ca;
    color: #fff;
    max-width: 34.87179487179487%;
    margin-right: 17px;
    transition: all .3s;
}
.order-executive-agree:hover {
    background-color: #3f4e6e;
}
.order-executive-part {
    border: 1px solid #3f4e6e;
    color: #3f4e6e;
    max-width: 25.025641025641026%;
    margin-right: 17px;
    transition: all .3s;
}
.order-executive-part:hover {
    background-color: #3f4e6e;
    color: #fff;
}
.order-executive-reject {
    color: #bd0851;
    border: 1px solid #bd0851;
    max-width: 30.05128205128205%;
    transition: all .3s;
}
.order-executive-reject:hover {
    background-color: #bd0851;
    color: #fff;
}
.order-executive .agree-order_name {
    border: none;
    padding: 0;
    text-align: left;
}
.order-executive .agree-order_reit {
    border: none;
    padding: 0;
    text-align: left;
    margin: 0;
}
.order-executive .agree-order_reit li{
    border: none;
    padding: 0;
    text-align: left;
}
.order-executive .container{
    position: relative;
}
.order-executive .number-one{
    position: absolute;
    right: 0;
    top: 14px;
    display: block;
    width: 17px;
    height: 17px;
    background-color: #0494ca;
    border-radius: 50%;
    color: white;
    font-family: GothaProMed, sans-serif;
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
}
.type-trafic .text {
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #282828;
}
.write-comment .row{
    /*margin: 0;*/
}
.order-executive .form-comment-area {
    border: 1px solid #394869;
    width: 100%;
    height:110px;
    margin-bottom: 20px;
}
.order-executive .dropbox label {
    display: block;
    width: 100%;
    height: 110px;
    border: 1px solid #394869;
    padding: 30px 43px 0;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
}
.downloaded-files {
    padding: 3px 0 0 0;
}
.downloaded-files .text{
    color: #0494ca;
    font-family: GothaProMed, sans-serif;
    font-size: 10px;
    line-height: 14px;
}
.comment {
    margin: -15px 0;
    padding: 15px;
}
.comment.comment-hot {
    background-color: #f7f7f7;
}

.comment-my {
    background-color: #fff !important;
}
.comment-collocutor {
    background-color: #f7f7f7 !important;
}

.comment .agree-order_name{
    margin-bottom: 5px;
}
.comment .comment-text {
    color: #282828;
    font-family: GothaProReg, sans-serif;
    font-size: 12px;
    max-width: 875px;
    line-height: 16px;
}
.order-executive .wrap-textarea {
    /*width: 100%;*/
    /*max-width: 650px;*/
    /*margin-right: 17px;*/
}
.wrap-coast-lead .beforeIcon1:before {
    top: 23px;
}
.exceptionText.plus {
    color: #0494ca;
    font-family: GothaProBol, sans-serif;
    font-size: 12px;
    padding-left: 0;
}
.exceptionText.minus{
    color: #bd0851;
    font-family: GothaProBol, sans-serif;
    font-size: 12px;
    padding-left: 20px;
}
.enter-review {
    width: 100%;
    height: 154px;
    border: 1px solid #e8e8e8;
    color: #282828;
    font-family: GothaProReg, sans-serif;
    font-size: 12px;
    margin-top: 15px;
}
.end-work {
    width: 100%;
    height: 35px;
    background-color: #394869;
    border: 1px solid #394869;
    color: white;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
}
.enter-number-pay {
    width: 100%;
    height: 35px;
    border: 1px solid #e8e8e8;
    color: #282828;
    font-family: GothaProReg, sans-serif;
    font-size: 12px;
}
.modal-title.disput-title {
    color: #bd0851;
    font-size: 14px;
}
.end-work.disput-title {
    background-color: #bd0851;
    border: 1px solid #bd0851;
    width: 100%;
    height: 35px;
    color: white;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
}
/*
*Order executive page
*/

.modal-body .checkboxStyle:not(checked) + label:after {
    top: -1px;
}

/*
* ticket-open-disput
*/
.disput {
    padding: 21px;
    border: 1px solid #e8e8e8;
    min-height: 95px;
}
.disput.disput-left {
    margin: 19px -15px 0 0;
}
.disput.disput-right {
    margin: 19px 0 0 -15px;
}
.disput .pers-avatar {
    width: 50px;
    height: 50px;
    background-color: #e8e8e8;
    float: left;
    margin-right: 20px;
}
.disput .agree-order_name {
    border: none;
    max-width: calc(100% - 80px);
    padding: 0;
    text-align: left;
    margin: 8px 0 3px;
}

.disput .agree-order_reit {
    border: none;
    max-width: calc(100% - 80px);
    padding: 0;
    margin-bottom: 0;
}
.disput .agree-order_reit li {
    padding: 0;
    width: 100%;
    text-align: left;
}
.disput .agree-order_reit li:first-child {
    border-right: none;
}
.close-disput {
    color: #fff;
    font-family: GothaProBol, sans-serif;
    font-size: 14px;
    width: 100%;
    height: 45px;
    background-color: #394869;
    border: 1px solid #394869;
    margin-top: 10px;
}
.disput-title-wrap {
    padding-top: 32px;
    padding-bottom: 12px;
}
.disput-title {
    font-family: GothaProBol, sans-serif;
    font-size: 18px;
    color: #394869;
}
.disput-title .disput-about {
    color: #bd0851;
}
.disput-id-ticket {
    color: #394869;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    text-align: right;
}
.disput-review.blockPAddBorder {
    padding: 0;
}
.disput-review.disput-moderator{
    background-color: #f1fbff;
}
.disput.comment-hot {
    background-color: #f7f7f7;
}
.disput-review .comment{
    width: calc(100% - 70px);
    padding: 15px 0;
}
.disput-review .disput {
    border: none;
    padding-top: 0;
    padding-left: 0;
    min-height: 71px;
}
.disput-review .disput .agree-order_name {
    max-width: calc(100% - 70px);
}

.disput-review .disput .agree-order_reit {
    max-width: calc(100% - 70px);
}
.disput-review .disput .agree-order_reit {
    max-width: calc(100% - 70px);
}
.disput-review .agree-order_name .name,
.disput-review .agree-order_name .nickname,
.disput-review .comment .comment-text {
    font-size: 14px;
    line-height: 18px
}
.disput-review .agree-order_name .nickname.moder {
    color: #0494ca;
}
.exceptionText .agree-order_name{
    padding: 0;
    border: none;
    text-align: left;
}
.disput-comment-modal {
    color: #282828;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    margin: 15px 0 5px;
}
#disput-comment-modal-textarea {
    width: 100%;
    height: 85px;
    border: 1px solid #e8e8e8;
    resize: none;
}
.modal-dialog {
    margin-top: calc(50vh - 250px);
}
/*
* ticket-open-disput
*/

/*
* ticket-open-support
*/
.disput-center {
    margin: 19px 0 0;
}
.support-answer {
    margin: 15px 0 0;
}
.support-answer li{
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}
.support-answer li .nice{
    color: #0494ca;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
}
.support-answer li .bad{
    color: #bd0851;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
}
.support-answer li .nice:hover{
    text-decoration: underline;
}
.support-answer li .bad:hover {
    text-decoration: underline;
}
.support-title-modal {
    width: 100%;
    height: 35px;
    border: 1px solid #e8e8e8;
}
.disput-comment-modal a{
    float: right;
    margin-left: 19px;
    color: #282828;
    font-family: GothaProMed, sans-serif;
    font-size: 16px;
    padding-top: 2px;
}
.disput-comment-modal img{
    margin-top: -5px;
}
/*
* ticket-open-support
*/

/*
* message
*/
.message-title {
    margin: 12px 0 27px;
}
.search-wrap {
    width: 100%;
    max-width:317px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 10px;
    float: right;
}
.search-wrap .search-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(57, 72, 105, .5);
    height: 25px;
    color: #394869;
    font-family: GothaProReg, sans-serif;
    font-size: 14px;
    padding: 0;
}
.search-wrap .search-input::-moz-placeholder{
    color: #394869;
}
.search-wrap .search-input::-webkit-input-placeholder{
    color: #394869;
}
.search-wrap .start-search {
    border: none;
    background: inherit;
}
.submit-wrap {
    background: url("/themes/leadlance/img/message/icon-search.svg") no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 9px;
    right: 10px;
}
.dialog-wrap {
    border: 1px solid #e8e8e8;
}
.dialog-wrap_blue {
    background-color: #f1fbff;
}
.dialog-wrap .logo{
    width: 50px;
    height: 50px;
    background-color: #e8e8e8;
    display: inline-block;
    vertical-align: top;
}
.dialog-wrap .agree-order_name {
    display: inline-block;
    vertical-align: top;
    border: none;
    text-align: left;
    padding-left: 20px;
}
.dialog-wrap .agree-order_name .name.admin{
    color: #0494ca;
}
.dialog-wrap .counter-mess {
    float: right;
    padding: 21px 21px 21px 0;
}
.dialog-wrap .counter-mess img,
.dialog-wrap .counter-mess span {
    display: inline-block;
    vertical-align: top;
}
.counter-mess span:hover {
    color: #0494ca ;
    text-decoration: underline;
}
.dialog-wrap .counter-mess img {
    margin-top: 2px;
}
.open-dialog {
    color: #282828;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    padding: 20px 0;
}
.open-dialog span.counter{
    color: white;
    font-size: 10px;
    width: 17px;
    height: 17px;
    background-color: #0494ca;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin: -4px 0 0 10px;
}
.open-dialog span.all-read {
    color: #b5b5b5;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    margin-left: 10px;
}
.message-write {
    margin-top: 25px;
}
.comment-message {
    margin: -15px 15px;
    max-width: 97.1%;
}
/*
* message
*/

/*
* news all
*/
.news-wrap {
    margin-top: 30px;
}
.photo-news {
    width: 293px;
    min-height: 214px;
    background-color: #e8e8e8;
    color: white;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    padding-top: 70px;
    position: relative;
    overflow: hidden;
}
.photo-news img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}
.photo-bold{
    font-family: GothaProBla, sans-serif;
}
.photo-light{
    font-family: GothaProLig, sans-serif;
}
.text-wrap-news {
    width: calc(100% - 300px);
    padding-left: 15px;
}
.title-news, .title-case {
    color: #282828;
    font-family: GothaProBol, sans-serif;
    font-size: 18px;
    padding-top: 19px;
    display: inline-block;
    width: 100%;
}
.title-news a:hover, .title-case a:hover {
    color: #0494ca;
}
.title-news-link, .title-case-link {
    width: 80%;
    display: inline-block;
}
.title-news .title-news__date,
.title-case .title-case__date {
    color: #394869;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    float: right;
}
.title-news .title-news__date a:hover
.title-case .title-case__date a:hover {
    color: #0494ca;
}
.text-news {
    color: #282828;
    font-family: GothaProReg, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 0;
}
.text-news__read-more {
    font-family: GothaProMed, sans-serif;
}
.text-news__read-more:hover {
    color: #0494ca;
}
.footer-news {
    border-top: 1px solid #e8e8e8;
    padding-top: 15px;
}
.footer-news__link-author {
    color: #0494ca;
    font-family: GothaProBol, sans-serif;
    font-size: 12px;
    line-height: 20px;
    vertical-align: top;
}
.footer-news__tags {
    float: right;
}
.tags-news {
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #282828;
    padding-right: 10px;
}
.tags-news__link{
    padding: 0 0 0 3px;
}
.tags-news__link_red {
    color: #ae4677;
}
.tags-news__link_blue {
    color: #46aea5;
}
.footer-news__tags .counter-mess{
    color: #394869;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.footer-news__tags .counter-mess img{
    vertical-align: top;
    margin-top: 3px;
}
/*
* news all
*/

/*
* news open
*/
.news-wrap_news-open {
    margin-top: 15px;
}
.news-wrap_news-open .photo-news{
    width: 100%;
    min-height: 203px;
}
.news-wrap_news-open .text-wrap-news {
    width: 100%;
    padding-left: 0;
}
.back-to-all-news {
    display: inline-block;
    color: #b2b2b2;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.back-to-all-news__text {
    margin-left: 9px;
}
.news-wrap_news-open .footer-news {
    border-bottom: 1px solid #e8e8e8;
}
.footer-news__logo-author {
    margin: -15px 18px -2px 0;
}
.form-comment-area {
    width: 100%;
    height: 110px;
    border: 1px solid #394869;
    resize: none;
    margin-bottom: 20px;
    padding: 5px 0 0 10px;
}
.wrap-textarea__title {
    color: #394869;
    font-family: GothaProMed, sans-serif;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    vertical-align: top;
    margin: 17px 0 12px;
    cursor: pointer;
}
.padd-bott30 {
    padding-bottom: 30px;
}
.answer-comment {
    color: #b5b5b5;
    font-family: GothaProMed, sans-serif;
    font-size: 12px;
    line-height: 36px;
}
.news-comment-answer {
    border-top: 1px solid #e8e8e8 !important;
}
/*
* news open
*/

/*
* createCase modale
*/
#create-keys .create-order-modal {
    max-width: 916px;
}
#create-keys .create-order-modal .modal-body {
    padding: 15px;
}
#create-keys .create-order-modal .modal-body .sroll-block-keys {
    height: 350px;
    margin-bottom: 0;
}
#create-keys .button-create-order.buttonFilters {
    width: 100%;
    max-width: 100%;
    height: 40px;
}
#create-keys .button-create-order.buttonFilters:before {
    display: none;
}
#create-keys .block-answer-dop-img .btn {
    padding: 0;
}
#create-keys .create-order-modal .modal-footer {
    padding-left: 15px;
}

.block-answer-dop-img .case-img-empty {
    background-color: #e8e8e8;
    color: white;
    font-size: 26px;
    height: 110px;
    line-height: 36px;
    overflow: hidden;
    padding-top: 30px;
    position: relative;
    text-align: center;
    width: 210px;
}
.block-mess-textarea .block-answer-dop-img .case-img-empty {
    width: 200px;
}
.answer-content .case-title {
    height: 20px;
    padding-top: 5px;
}
/*
* createCase modale
*/

div.form-error div.div-inline p.input-title {
    margin-left: 15px;
    color: #bd0851;
}

.wrapper-slide-reviews > .list-view > div.new-message {
    position:relative;
}
.wrapper-slide-reviews > .list-view > div.new-message div:nth-last-child(1) {
    position:absolute;
    right:22px;
    top: 25px;
    color: #0494ca;
}

.refuse-project {
    color: #282828;
}

.no-profile-case-photo {
    height: 110px;
    width: 210px;
    position: relative;
    background-color: whitesmoke;
}

.no-profile-case-photo a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.no-profile-case-photo p.block-answer-dop-img-text {
    color: #d9d9d9;
}

.respond-project-answers {
    padding-top: 0px;
}

.order-review-counter-new {
    color: #0494ca;
}

.negative-rev-order-info {
    color: #bd0851;
}
